@charset "UTF-8";
@font-face {
  font-family: "Euclid Circular A";
  src: url("../fonts/EuclidCircularA-Bold.eot");
  src: local("Euclid Circular A Bold"), local("EuclidCircularA-Bold"), url("../fonts/EuclidCircularA-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/EuclidCircularA-Bold.woff2") format("woff2"), url("../fonts/EuclidCircularA-Bold.woff") format("woff"), url("../fonts/EuclidCircularA-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: "Euclid Circular A";
  src: url("../fonts/EuclidCircularA-Light.eot");
  src: local("Euclid Circular A Light"), local("EuclidCircularA-Light"), url("../fonts/EuclidCircularA-Light.eot?#iefix") format("embedded-opentype"), url("../fonts/EuclidCircularA-Light.woff2") format("woff2"), url("../fonts/EuclidCircularA-Light.woff") format("woff"), url("../fonts/EuclidCircularA-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: "Euclid Circular A";
  src: url("../fonts/EuclidCircularA-BoldItalic.eot");
  src: local("Euclid Circular A Bold Italic"), local("EuclidCircularA-BoldItalic"), url("../fonts/EuclidCircularA-BoldItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/EuclidCircularA-BoldItalic.woff2") format("woff2"), url("../fonts/EuclidCircularA-BoldItalic.woff") format("woff"), url("../fonts/EuclidCircularA-BoldItalic.ttf") format("truetype");
  font-weight: bold;
  font-style: italic;
}
@font-face {
  font-family: "Euclid Circular A";
  src: url("../fonts/EuclidCircularA-LightItalic.eot");
  src: local("Euclid Circular A Light Italic"), local("EuclidCircularA-LightItalic"), url("../fonts/EuclidCircularA-LightItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/EuclidCircularA-LightItalic.woff2") format("woff2"), url("../fonts/EuclidCircularA-LightItalic.woff") format("woff"), url("../fonts/EuclidCircularA-LightItalic.ttf") format("truetype");
  font-weight: 300;
  font-style: italic;
}
@font-face {
  font-family: "Euclid Circular A";
  src: url("../fonts/EuclidCircularA-Regular.eot");
  src: local("Euclid Circular A Regular"), local("EuclidCircularA-Regular"), url("../fonts/EuclidCircularA-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/EuclidCircularA-Regular.woff2") format("woff2"), url("../fonts/EuclidCircularA-Regular.woff") format("woff"), url("../fonts/EuclidCircularA-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Euclid Circular A";
  src: url("../fonts/EuclidCircularA-SemiBold.eot");
  src: local("Euclid Circular A SemiBold"), local("EuclidCircularA-SemiBold"), url("../fonts/EuclidCircularA-SemiBold.eot?#iefix") format("embedded-opentype"), url("../fonts/EuclidCircularA-SemiBold.woff2") format("woff2"), url("../fonts/EuclidCircularA-SemiBold.woff") format("woff"), url("../fonts/EuclidCircularA-SemiBold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: "Euclid Circular A";
  src: url("../fonts/EuclidCircularA-Medium.eot");
  src: local("Euclid Circular A Medium"), local("EuclidCircularA-Medium"), url("../fonts/EuclidCircularA-Medium.eot?#iefix") format("embedded-opentype"), url("../fonts/EuclidCircularA-Medium.woff2") format("woff2"), url("../fonts/EuclidCircularA-Medium.woff") format("woff"), url("../fonts/EuclidCircularA-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "Euclid Circular A";
  src: url("../fonts/EuclidCircularA-Italic.eot");
  src: local("Euclid Circular A Italic"), local("EuclidCircularA-Italic"), url("../fonts/EuclidCircularA-Italic.eot?#iefix") format("embedded-opentype"), url("../fonts/EuclidCircularA-Italic.woff2") format("woff2"), url("../fonts/EuclidCircularA-Italic.woff") format("woff"), url("../fonts/EuclidCircularA-Italic.ttf") format("truetype");
  font-weight: normal;
  font-style: italic;
}
@font-face {
  font-family: "Euclid Circular A";
  src: url("../fonts/EuclidCircularA-SemiBoldItalic.eot");
  src: local("Euclid Circular A SemiBold Italic"), local("EuclidCircularA-SemiBoldItalic"), url("../fonts/EuclidCircularA-SemiBoldItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/EuclidCircularA-SemiBoldItalic.woff2") format("woff2"), url("../fonts/EuclidCircularA-SemiBoldItalic.woff") format("woff"), url("../fonts/EuclidCircularA-SemiBoldItalic.ttf") format("truetype");
  font-weight: 600;
  font-style: italic;
}
@font-face {
  font-family: "Euclid Circular A";
  src: url("../fonts/EuclidCircularA-MediumItalic.eot");
  src: local("Euclid Circular A Medium Italic"), local("EuclidCircularA-MediumItalic"), url("../fonts/EuclidCircularA-MediumItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/EuclidCircularA-MediumItalic.woff2") format("woff2"), url("../fonts/EuclidCircularA-MediumItalic.woff") format("woff"), url("../fonts/EuclidCircularA-MediumItalic.ttf") format("truetype");
  font-weight: 500;
  font-style: italic;
}
*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-family: "Euclid Circular A", sans-serif;
  font-size: 0.5208335vw;
  font-style: normal;
  font-weight: normal;
  -webkit-animation: bugfix infinite 1s;
  line-height: 1.2;
  margin: 0;
  padding: 0;
}

body {
  font-style: normal;
  font-weight: normal;
  -webkit-animation: bugfix infinite 1s;
  line-height: 1.2;
  margin: 0;
  padding: 0;
  color: #2b2f36;
  background-color: #FAFAFF;
  font-size: 3rem;
}

body.lock {
  overflow: hidden;
}

input,
textarea {
  -webkit-animation: bugfix infinite 1s;
  line-height: inherit;
  margin: 0;
  padding: 0;
  background-color: transparent;
  border: none;
  color: inherit;
}

a {
  color: unset;
}

a,
a:hover {
  text-decoration: none;
}

button,
input,
a,
textarea {
  outline: none;
  cursor: pointer;
  font: inherit;
}
button:focus,
input:focus,
a:focus,
textarea:focus {
  outline: none;
}
button:active,
input:active,
a:active,
textarea:active {
  outline: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font: inherit;
  margin: 0;
  padding: 0;
}

p {
  margin-top: 0;
  margin-bottom: 0;
}

img {
  width: 100%;
  height: auto;
  display: block;
}

button {
  border: none;
  color: inherit;
  font: inherit;
  text-align: inherit;
  padding: 0;
  background-color: transparent;
}

ul {
  padding: 0;
  margin: 0;
}

ul li {
  margin: 0;
  padding: 0;
  list-style: none;
}

.container {
  width: 156rem;
  margin: 0 auto;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance: textfield;
}

@media (max-width: 48em) {
  html {
    font-size: 5px;
    font-size: 1.5625vw;
    font-size: 1.3333333333vw;
    -webkit-text-size-adjust: none;
  }

  body {
    -webkit-text-size-adjust: none;
  }

  .container {
    padding: 0 3rem;
    width: 100%;
  }
  .container--sm {
    width: 100%;
  }
}
.btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.btn span {
  font-size: 1.8rem;
  font-weight: 600;
  color: white;
  margin-right: 1.986rem;
}
.btn__arrow {
  width: 4.3rem;
  height: 4.3rem;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-shadow: 0.4rem 0.4rem 5rem rgba(76, 70, 203, 0.1);
          box-shadow: 0.4rem 0.4rem 5rem rgba(76, 70, 203, 0.1);
}
.btn__arrow svg {
  width: 2rem;
  height: 1.5rem;
}
.btn__arrow.btn--red {
  background: -webkit-gradient(linear, left bottom, left top, from(#E82E3D), to(#E82E3D));
  background: linear-gradient(0deg, #E82E3D, #E82E3D);
}
.btn__arrow.btn--blue {
  background: #0199e4;
}

.title {
  font-size: 5.5rem;
  font-weight: 700;
  color: #2b2f36;
}

.subtitle {
  font-size: 1.7rem;
  font-weight: 400;
  color: #8a91aa;
}

.corner {
  position: relative;
  background-color: #ffffff;
  width: 2rem;
  height: 3rem;
}
.corner::before {
  content: "";
  display: block;
  padding-bottom: 100%;
  background-color: #f2f1f5;
  border-top-left-radius: 100%;
  height: 3rem;
  width: 3rem;
  position: absolute;
  top: 0;
  left: 0;
}

.header__inner {
  padding-top: 1.3rem;
}
.header__top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-bottom: 1.5rem;
  border-bottom: 0.16rem solid #E8E9F4;
}
.header__location {
  width: 19.5rem;
  padding: 1.9rem 1rem 1rem 1.4rem;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}
.header__location.active::before {
  content: "";
  width: 27.2rem;
  background: #ffffff;
  border-radius: 1.6rem 1.6rem 0 0;
}
.header__location.active .header__location-body {
  display: block;
  opacity: 1;
}
.header__location-select {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
}
.header__location-select svg {
  width: 1rem;
  height: 0.5rem;
}
.header__office-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 1rem;
}
.header__office-wrap img {
  width: 1.5rem;
  height: 1.7rem;
  margin-right: 0.74rem;
}
.header__office-name {
  font-size: 1.6rem;
  font-weight: 400;
  color: #8a91aa;
}
.header__office-place {
  font-size: 1.8rem;
  font-weight: 600;
  color: #2b2f36;
  margin-right: 1.4rem;
}
.header__location-body {
  width: 100%;
  height: 18.1rem;
  padding: 0.8rem 2.8rem 2.1rem 9.5rem;
  background: #FFFFFF;
  border-radius: 0 0 1.6rem 1.6rem;
  -webkit-transition: 0.8s;
  transition: 0.8s;
  position: absolute;
  top: 4rem;
  left: 0;
  display: none;
  opacity: 0;
}
.header__location-item {
  font-size: 1.8rem;
  font-weight: 600;
  color: #2b2f36;
  cursor: pointer;
}
.header__location-item:not(:last-child) {
  margin-bottom: 0.8rem;
}
.header__money-language-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.header__money {
  position: relative;
  margin-right: 1.9rem;
}
.header__money.active {
  background: #ffffff;
  border-radius: 1.6rem 1.6rem 0 0;
}
.header__money.active .header__money-body {
  display: block;
  opacity: 1;
}
.header__money-select {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 7.5rem;
  height: 6rem;
  background: #ECECF8;
  border-radius: 16px;
}
.header__money-img {
  width: 1.8rem;
  height: 2.5rem;
  margin-right: 1.9rem;
}
.header__money-arrow {
  width: 1rem;
  height: 0.5rem;
}
.header__money-body {
  background: #ffffff;
  padding: 1rem;
  width: 100%;
  position: absolute;
  top: 2rem;
  left: 0;
  display: none;
}
.header__language {
  position: relative;
  cursor: pointer;
}
.header__language.active .header__language-body {
  display: block;
}
.header__language-select {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 7.5rem;
  height: 6rem;
  background: #ECECF8;
  border-radius: 16px;
}
.header__language-select svg {
  width: 1rem;
  height: 0.5rem;
}
.header__language-title {
  font-size: 1.6rem;
  font-weight: 600;
  color: #2b2f36;
  margin-right: 1rem;
}
.header__language-body {
  display: none;
  padding: 1rem;
  position: absolute;
  top: 4rem;
  left: 0;
  width: 100%;
  background: #ffffff;
}
.header__about {
  width: 24.1rem;
  height: 6rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: #ECECF8;
  border-radius: 1.6rem;
  font-size: 1.7rem;
  font-weight: 500;
  color: #2b2f36;
}
.header__social-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 30rem;
}
.header__social-item {
  width: 3rem;
  height: 3rem;
}
.header__social-item img {
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}
.header__phone {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 2rem;
  font-weight: 700;
  color: #2b2f36;
}
.header__phone-img {
  width: 3rem;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
  margin-right: 1.14rem;
}
.header__bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 1rem 0 2rem 0;
}
.header__logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 27.1rem;
  height: 6.5rem;
}
.header__logo img {
  width: 6.96rem;
  height: 6.09rem;
}
.header__logo-text-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-item-align: end;
      align-self: flex-end;
  width: 19.1rem;
}
.header__logo-text-wrap svg:not(:last-child) {
  margin-bottom: 0.7rem;
}
.header__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
  font-size: 1.7rem;
  font-weight: 500;
  color: #2B2F36;
}
.header__item:not(:last-child) {
  margin-right: 3.3rem;
}
.header__right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.header__btns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 7.7rem;
}
.header__like-btn {
  width: 6rem;
  height: 6rem;
  border: 0.12rem solid #D9DEEE;
  border-radius: 1.6rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-right: 1.9rem;
}
.header__like-btn img {
  width: 2.2rem;
  height: 2rem;
  -o-object-fit: contain;
     object-fit: contain;
}
.header__filter-btn {
  width: 6rem;
  height: 6rem;
  border: 0.12rem solid #D9DEEE;
  border-radius: 1.6rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
}
.header__filter-btn img {
  width: 2.2rem;
  height: 2rem;
  -o-object-fit: contain;
     object-fit: contain;
}
.header__filter-btn span {
  width: 2.6rem;
  height: 2.6rem;
  border-radius: 50%;
  background: #0199E4;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 1.5rem;
  font-weight: 700;
  color: #FFFFFF;
  position: absolute;
  bottom: -1rem;
  right: -1rem;
}
.header__btn-back-call {
  width: 24.7rem;
  height: 6rem;
  background: linear-gradient(0deg, #0199E4, #0199E4), linear-gradient(272.89deg, #4341CC -9.64%, #0199E4 92.79%);
  border-radius: 1.6rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0 1.5rem 0 2.3rem;
}
.header__btn-back-call span {
  font-size: 1.7rem;
  font-weight: 500;
  color: #FFFFFF;
}
.header__btn-arrow {
  width: 3.5rem;
  height: 3.5rem;
  border-radius: 50%;
  background: linear-gradient(177.55deg, #FFFFFF 21.07%, rgba(255, 255, 255, 0.24) 181.18%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.header__btn-arrow img {
  height: 100%;
  width: 1rem;
  -o-object-fit: contain;
     object-fit: contain;
}

.banner {
  position: relative;
  height: 100rem;
  padding-top: 55rem;
  margin-bottom: 9rem;
}
.banner__slider {
  height: 76rem;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  overflow: hidden;
}
.banner__slide-img {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
}
.banner__slide {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 11rem 18rem 5rem 18rem;
}
.banner__btn-video {
  width: 13.9rem;
  height: 13.9rem;
  background: -webkit-gradient(linear, left bottom, left top, from(#E72535), to(#E72535)), #DE1117;
  background: linear-gradient(0deg, #E72535, #E72535), #DE1117;
  -webkit-box-shadow: 1rem 2rem 5rem rgba(243, 83, 83, 0.25);
          box-shadow: 1rem 2rem 5rem rgba(243, 83, 83, 0.25);
  border-radius: 50%;
  font-size: 2rem;
  font-weight: 600;
  color: #FFFFFF;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-item-align: end;
      align-self: flex-end;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  padding: 1rem 1rem 3.2rem 1rem;
  margin-bottom: 21.7rem;
  position: relative;
}
.banner__btn-video::before {
  content: "";
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 1.3rem 1.3rem 1.3rem 1.5rem;
  /* размер и форма */
  border-color: transparent transparent transparent #ffffff;
  /* red — цвет */
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-25%, -85%);
          transform: translate(-25%, -85%);
}
.banner__title {
  font-size: 6rem;
  font-weight: 700;
  color: #ffffff;
  text-shadow: 0.5rem 0.5rem 2.8rem rgba(9, 13, 26, 0.25);
  -ms-flex-item-align: center;
      align-self: center;
  margin-bottom: 2rem;
}
.banner__btn {
  width: 48.8rem;
  height: 7.6rem;
  background: #FFFFFF;
  border-radius: 100rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-item-align: center;
      align-self: center;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  padding: 0 4.3rem 0 3.8rem;
}
.banner__btn-title {
  font-size: 1.7rem;
  font-weight: 500;
  color: #2b2f36;
  margin-right: 14rem;
}
.banner__btn-title span {
  font-size: 2.2rem;
  font-weight: 700;
  color: #2b2f36;
}
.banner__btn-arrow {
  width: 6rem;
  height: 2rem;
}

.swiper-control {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: relative;
  z-index: 1;
  margin-bottom: 1.5rem;
}

.swiper__pagination-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.swiper__pagination span {
  width: 1.2rem;
  height: 1.2rem;
  background: #ffffff;
}
.swiper__pagination span:not(:last-child) {
  margin-right: 1.6rem;
}

.slider__number {
  font-size: 6rem;
  font-weight: 600;
  color: white;
  margin-right: 4.8rem;
}

.swiper__arrows {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.swiper__arrow {
  width: 9.9rem;
  height: 9.9rem;
  border-radius: 50%;
  background: #FFFFFF;
  margin-right: 1.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transition: 0.8s;
  transition: 0.8s;
  cursor: pointer;
}
.swiper__arrow img {
  width: 1rem;
  height: 2rem;
  -webkit-transition: 0.8s;
  transition: 0.8s;
}
.swiper__arrow.swiper-button-disabled {
  width: 7.6rem;
  height: 7.6rem;
}
.swiper__arrow.swiper-button-disabled img {
  width: 0.5rem;
  height: 1.5rem;
}

.filter {
  position: relative;
  z-index: 2;
  border-radius: 4rem;
}
.filter__header {
  padding: 3rem 4.3rem 0rem 4.3rem;
  background: #ffffff;
  border-radius: 4rem 4rem 0 0;
  width: 34rem;
  margin-bottom: -0.2rem;
  position: relative;
}
.filter__corner {
  position: absolute;
  background: radial-gradient(circle at 103% 0, rgba(0, 0, 0, 0) 4rem, #fffffF 10px);
  width: 5rem;
  height: 5rem;
  bottom: -0.9rem;
  right: -3.3rem;
}
.filter__title-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.filter__title-img {
  width: 1.4rem;
  height: 1.6rem;
  -o-object-fit: contain;
     object-fit: contain;
  margin-right: 2rem;
}
.filter__title {
  font-size: 2.4rem;
  font-weight: 700;
  color: #2b2f36;
}
.filter__body {
  width: 100%;
  background: #ffffff;
  border-radius: 0rem 4rem 2rem 4rem;
  padding: 5rem 4.4rem 4rem 4.2rem;
  -webkit-box-shadow: 1rem 2rem 10rem rgba(40, 44, 78, 0.09);
          box-shadow: 1rem 2rem 10rem rgba(40, 44, 78, 0.09);
}
.filter__body-top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 3.4rem;
}
.filter__selects {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
}
.filter__select {
  position: relative;
}
.filter__select.active .filter__option {
  display: block;
}
.filter__select.active .filter__wrapper {
  background: #F7F7FD;
}
.filter__select.active .filter__wrapper svg {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}
.filter__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 21rem;
  height: 6rem;
  background: #F7F7FD;
  border-radius: 1rem;
  display: flex;
  align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 2rem 2rem 2rem 2rem;
  cursor: pointer;
}
.filter__wrapper svg {
  width: 1.5rem;
  height: 0.8rem;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}
.filter__current {
  font-size: 1.7rem;
  font-weight: 500;
  color: #8a91aa;
}
.filter__option {
  position: absolute;
  top: 5rem;
  left: 0;
  background: #F7F7FD;
  -webkit-box-shadow: 1rem 2rem 2rem rgba(40, 44, 78, 0.09);
          box-shadow: 1rem 2rem 2rem rgba(40, 44, 78, 0.09);
  border-radius: 0 0 1rem 1rem;
  width: 100%;
  display: none;
}
.filter__type-item {
  font-size: 1.7rem;
  font-weight: 500;
  color: #8a91aa;
  cursor: pointer;
  padding: 0.75rem 2rem 0.75rem 2rem;
  padding-top: 0.75rem;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  width: 100%;
}
.filter__type-item:hover {
  background: #ededfd;
  font-weight: 600;
}
.filter__input {
  position: relative;
  height: 6rem;
  width: 19.6rem;
  background: #F7F7FD;
  border-radius: 1rem;
  font-size: 1.7rem;
  font-weight: 500;
  color: #2b2f36;
}
.filter__input.input-id {
  width: 14.1rem;
}
.filter__input input {
  height: 100%;
  width: 100%;
  padding: 2rem 2rem 2rem 5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.filter__input span {
  font-size: 1.7rem;
  font-weight: 500;
  color: #8a91aa;
  position: absolute;
  top: 50%;
  left: 2rem;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}
.filter__value {
  width: 18.9rem;
  height: 6rem;
  background: #0199E4;
  border-radius: 1rem;
  font-size: 1.9rem;
  font-weight: 700;
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-negative: 0;
      flex-shrink: 0;
}
.filter__body-bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.filter__more-filters {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 1.7rem;
  font-weight: 500;
  color: #8a91aa;
}
.filter__more-filters svg {
  width: 1.4rem;
  height: 2.2rem;
  margin-right: 2.1rem;
}
.filter__clean-filters {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 1.7rem;
  font-weight: 500;
  color: #8a91aa;
}
.filter__clean-filters span {
  margin-right: 1.2rem;
}
.filter__clean-filters svg {
  width: 2.4rem;
  height: 2.4rem;
}

.photo {
  margin-bottom: 17rem;
}
.photo__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.photo__big-block {
  margin-right: 3.8rem;
  height: 47.1rem;
}
.photo__big {
  position: relative;
  padding: 5rem 2rem 5rem 4rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.4)), color-stop(38.2%, rgba(0, 0, 0, 0))), -webkit-gradient(linear, left top, left bottom, color-stop(64.9%, rgba(0, 0, 0, 0)), to(rgba(0, 0, 0, 0.4))), url(./../img/photo1.png), #C4C4C4;
  background: linear-gradient(180deg, rgba(0, 0, 0, 0.4) 0%, rgba(0, 0, 0, 0) 38.2%), linear-gradient(180deg, rgba(0, 0, 0, 0) 64.9%, rgba(0, 0, 0, 0.4) 100%), url(./../img/photo1.png), #C4C4C4;
  background-position-x: center;
  background-position-y: center;
  background-size: cover;
  border-radius: 3rem;
  width: 36.2rem;
  height: 100%;
}
.photo__blocks-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
}
.photo__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.photo__row:nth-child(2n) {
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
      -ms-flex-direction: column-reverse;
          flex-direction: column-reverse;
}
.photo__block {
  position: relative;
  padding: 3rem 2rem 3rem 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.4)), color-stop(38.2%, rgba(0, 0, 0, 0))), -webkit-gradient(linear, left top, left bottom, color-stop(64.9%, rgba(0, 0, 0, 0)), to(rgba(0, 0, 0, 0.4))), url(./../img/photo1.png), #C4C4C4;
  background: linear-gradient(180deg, rgba(0, 0, 0, 0.4) 0%, rgba(0, 0, 0, 0) 38.2%), linear-gradient(180deg, rgba(0, 0, 0, 0) 64.9%, rgba(0, 0, 0, 0.4) 100%), url(./../img/photo1.png), #C4C4C4;
  background-position-x: center;
  background-position-y: center;
  background-size: cover;
  border-radius: 3rem;
  width: 36.2rem;
  height: 25rem;
}
.photo__block img {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
  border-radius: inherit;
}
.photo__block:nth-child(2n) {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.4)), color-stop(38.2%, rgba(0, 0, 0, 0))), -webkit-gradient(linear, left top, left bottom, color-stop(64.9%, rgba(0, 0, 0, 0)), to(rgba(0, 0, 0, 0.4))), url(./../img/photo2.png), #C4C4C4;
  background: linear-gradient(180deg, rgba(0, 0, 0, 0.4) 0%, rgba(0, 0, 0, 0) 38.2%), linear-gradient(180deg, rgba(0, 0, 0, 0) 64.9%, rgba(0, 0, 0, 0.4) 100%), url(./../img/photo2.png), #C4C4C4;
  background-position-x: center;
  background-position-y: center;
  background-size: cover;
  height: 20rem;
}
.photo__block-title {
  font-size: 3.7rem;
  font-weight: 700;
  color: white;
}

.new-objects {
  margin-bottom: 27rem;
}
.new-objects__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  row-gap: 3.7rem;
}
.new-objects__title {
  margin-bottom: 6.5rem;
}

.support__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.support__text-block {
  width: 64.3rem;
}
.support__title {
  margin-bottom: 2.2rem;
}
.support__subtitle {
  margin-bottom: 5rem;
}
.support__links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.support__btn span {
  color: #2b2f36;
}
.support__img {
  width: 39.5rem;
  height: 20.5rem;
}
.support__img img {
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}
.support__slider-block {
  width: 90rem;
}
.support__slide-inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.objects-box {
  width: 36.2rem;
}
.objects-box__inner {
  padding: 2.3rem 2.3rem 0 2.3rem;
  background: #FFFFFF;
  -webkit-box-shadow: 1rem 2rem 10rem rgba(40, 44, 78, 0.1);
          box-shadow: 1rem 2rem 10rem rgba(40, 44, 78, 0.1);
  border-radius: 1.8rem 1.8rem 1.8rem 0;
  padding-bottom: 2rem;
}
.objects-box__slider {
  height: 17.3rem;
  margin-bottom: 1.6rem;
  position: relative;
}
.objects-box__pagination {
  position: absolute;
  z-index: 20;
}
.objects-box__pagination span {
  background: #ffffff;
  width: 1rem;
  height: 1rem;
}
.objects-box__slider-wrapper {
  border-radius: 1.5rem;
}
.objects-box__slide {
  border-radius: inherit;
}
.objects-box__img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: inherit;
}
.objects-box__location {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-bottom: 1.7rem;
  margin-bottom: 1.6rem;
  border-bottom: 0.1rem solid #DDE2F4;
}
.objects-box__place {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.objects-box__location-img {
  width: 1.5rem;
  height: 2rem;
  margin-right: 0.75rem;
}
.objects-box__location-img img {
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}
.objects-box__place-name {
  font-size: 1.6rem;
  font-weight: 400;
  color: #2b2f36;
}
.objects-box__id {
  font-size: 1.3rem;
  font-weight: 400;
  color: #99a2b5;
}
.objects-box__id span {
  margin-right: 0.5rem;
}
.objects-box__title {
  font-size: 2.1rem;
  font-weight: 700;
  color: #2b2f36;
  margin-bottom: 2.3rem;
  line-height: 1.38;
  width: 83%;
}
.objects-box__area {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.objects-box__area-key-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 1.8rem;
  margin-right: 0.8rem;
}
.objects-box__area-key-img {
  width: 2.1rem;
  height: 2.1rem;
  margin-right: 0.6rem;
}
.objects-box__area-key-img img {
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}
.objects-box__area-key-name {
  font-size: 1.5rem;
  font-weight: 400;
  color: #8a91aa;
  margin-right: 0.4rem;
}
.objects-box__area-value {
  font-size: 1.5rem;
  font-weight: 700;
  color: #2b2f36;
}
.objects-box__rooms {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.objects-box__rooms-key-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 2rem;
}
.objects-box__rooms-key-img {
  width: 2.1rem;
  height: 2.1rem;
  margin-right: 0.6rem;
}
.objects-box__rooms-key-img img {
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}
.objects-box__rooms-key-name {
  font-size: 1.5rem;
  font-weight: 400;
  color: #8a91aa;
}
.objects-box__rooms-value-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.objects-box__rooms-value {
  width: 4.5rem;
  height: 3rem;
  background: #F0F0F9;
  border-radius: 1rem;
  padding: 0.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 1.6rem;
  font-weight: 700;
  color: #2b2f36;
}
.objects-box__rooms-value:not(:last-child) {
  margin-right: 1rem;
}
.objects-box__down {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.objects-box__price {
  background: #FFFFFF;
  border-radius: 0 0 1.8rem 1.8rem;
  padding-top: 2rem;
  padding-left: 2.5rem;
  padding-right: 2rem;
  -webkit-box-shadow: 1rem 3rem 7rem rgba(40, 44, 78, 0.1);
          box-shadow: 1rem 3rem 7rem rgba(40, 44, 78, 0.1);
  width: 87%;
}
.objects-box__price-value {
  font-size: 2.3rem;
  font-weight: 700;
  color: #2B2F36;
}
.objects-box__price-value sup {
  font-size: 1.8rem;
}
.objects-box__like {
  width: 6.5rem;
  height: 6.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  border-radius: 1.6rem;
  background: #0199E4;
  margin-top: 1.3rem;
  position: relative;
}

.mobile {
  display: none;
}

@media (max-width: 48em) {
  .desctop {
    display: none;
  }

  .mobile {
    display: block;
  }
}/*# sourceMappingURL=style.css.map */