@charset "UTF-8";
@font-face {
  font-family: "Euclid Circular A";
  src: url("../fonts/EuclidCircularA-Bold.eot");
  src: local("Euclid Circular A Bold"), local("EuclidCircularA-Bold"), url("../fonts/EuclidCircularA-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/EuclidCircularA-Bold.woff2") format("woff2"), url("../fonts/EuclidCircularA-Bold.woff") format("woff"), url("../fonts/EuclidCircularA-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: "Euclid Circular A";
  src: url("../fonts/EuclidCircularA-Light.eot");
  src: local("Euclid Circular A Light"), local("EuclidCircularA-Light"), url("../fonts/EuclidCircularA-Light.eot?#iefix") format("embedded-opentype"), url("../fonts/EuclidCircularA-Light.woff2") format("woff2"), url("../fonts/EuclidCircularA-Light.woff") format("woff"), url("../fonts/EuclidCircularA-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: "Euclid Circular A";
  src: url("../fonts/EuclidCircularA-BoldItalic.eot");
  src: local("Euclid Circular A Bold Italic"), local("EuclidCircularA-BoldItalic"), url("../fonts/EuclidCircularA-BoldItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/EuclidCircularA-BoldItalic.woff2") format("woff2"), url("../fonts/EuclidCircularA-BoldItalic.woff") format("woff"), url("../fonts/EuclidCircularA-BoldItalic.ttf") format("truetype");
  font-weight: bold;
  font-style: italic;
}
@font-face {
  font-family: "Euclid Circular A";
  src: url("../fonts/EuclidCircularA-LightItalic.eot");
  src: local("Euclid Circular A Light Italic"), local("EuclidCircularA-LightItalic"), url("../fonts/EuclidCircularA-LightItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/EuclidCircularA-LightItalic.woff2") format("woff2"), url("../fonts/EuclidCircularA-LightItalic.woff") format("woff"), url("../fonts/EuclidCircularA-LightItalic.ttf") format("truetype");
  font-weight: 300;
  font-style: italic;
}
@font-face {
  font-family: "Euclid Circular A";
  src: url("../fonts/EuclidCircularA-Regular.eot");
  src: local("Euclid Circular A Regular"), local("EuclidCircularA-Regular"), url("../fonts/EuclidCircularA-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/EuclidCircularA-Regular.woff2") format("woff2"), url("../fonts/EuclidCircularA-Regular.woff") format("woff"), url("../fonts/EuclidCircularA-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Euclid Circular A";
  src: url("../fonts/EuclidCircularA-SemiBold.eot");
  src: local("Euclid Circular A SemiBold"), local("EuclidCircularA-SemiBold"), url("../fonts/EuclidCircularA-SemiBold.eot?#iefix") format("embedded-opentype"), url("../fonts/EuclidCircularA-SemiBold.woff2") format("woff2"), url("../fonts/EuclidCircularA-SemiBold.woff") format("woff"), url("../fonts/EuclidCircularA-SemiBold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: "Euclid Circular A";
  src: url("../fonts/EuclidCircularA-Medium.eot");
  src: local("Euclid Circular A Medium"), local("EuclidCircularA-Medium"), url("../fonts/EuclidCircularA-Medium.eot?#iefix") format("embedded-opentype"), url("../fonts/EuclidCircularA-Medium.woff2") format("woff2"), url("../fonts/EuclidCircularA-Medium.woff") format("woff"), url("../fonts/EuclidCircularA-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "Euclid Circular A";
  src: url("../fonts/EuclidCircularA-Italic.eot");
  src: local("Euclid Circular A Italic"), local("EuclidCircularA-Italic"), url("../fonts/EuclidCircularA-Italic.eot?#iefix") format("embedded-opentype"), url("../fonts/EuclidCircularA-Italic.woff2") format("woff2"), url("../fonts/EuclidCircularA-Italic.woff") format("woff"), url("../fonts/EuclidCircularA-Italic.ttf") format("truetype");
  font-weight: normal;
  font-style: italic;
}
@font-face {
  font-family: "Euclid Circular A";
  src: url("../fonts/EuclidCircularA-SemiBoldItalic.eot");
  src: local("Euclid Circular A SemiBold Italic"), local("EuclidCircularA-SemiBoldItalic"), url("../fonts/EuclidCircularA-SemiBoldItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/EuclidCircularA-SemiBoldItalic.woff2") format("woff2"), url("../fonts/EuclidCircularA-SemiBoldItalic.woff") format("woff"), url("../fonts/EuclidCircularA-SemiBoldItalic.ttf") format("truetype");
  font-weight: 600;
  font-style: italic;
}
@font-face {
  font-family: "Euclid Circular A";
  src: url("../fonts/EuclidCircularA-MediumItalic.eot");
  src: local("Euclid Circular A Medium Italic"), local("EuclidCircularA-MediumItalic"), url("../fonts/EuclidCircularA-MediumItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/EuclidCircularA-MediumItalic.woff2") format("woff2"), url("../fonts/EuclidCircularA-MediumItalic.woff") format("woff"), url("../fonts/EuclidCircularA-MediumItalic.ttf") format("truetype");
  font-weight: 500;
  font-style: italic;
}
*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-family: "Euclid Circular A", sans-serif;
  font-size: 0.5208335vw;
  font-style: normal;
  font-weight: normal;
  -webkit-animation: bugfix infinite 1s;
  line-height: 1.2;
  margin: 0;
  padding: 0;
}

body {
  font-style: normal;
  font-weight: normal;
  -webkit-animation: bugfix infinite 1s;
  line-height: 1.2;
  margin: 0;
  padding: 0;
  color: #2b2f36;
  background-color: #FAFAFF;
  font-size: 3rem;
}

body.lock {
  overflow: hidden;
}

input,
textarea {
  -webkit-animation: bugfix infinite 1s;
  line-height: inherit;
  margin: 0;
  padding: 0;
  background-color: transparent;
  border: none;
  color: inherit;
}

a {
  color: unset;
}

a,
a:hover {
  text-decoration: none;
}

button,
input,
a,
textarea {
  outline: none;
  cursor: pointer;
  font: inherit;
}
button:focus,
input:focus,
a:focus,
textarea:focus {
  outline: none;
}
button:active,
input:active,
a:active,
textarea:active {
  outline: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font: inherit;
  margin: 0;
  padding: 0;
}

p {
  margin-top: 0;
  margin-bottom: 0;
}

img {
  width: 100%;
  height: auto;
  display: block;
}

button {
  border: none;
  color: inherit;
  font: inherit;
  text-align: inherit;
  padding: 0;
  background-color: transparent;
}

ul {
  padding: 0;
  margin: 0;
}

ul li {
  margin: 0;
  padding: 0;
  list-style: none;
}

.container {
  width: 156rem;
  margin: 0 auto;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance: textfield;
}

@media (max-width: 48em) {
  html {
    font-size: 5px;
    font-size: 1.5625vw;
    font-size: 1.3333333333vw;
    -webkit-text-size-adjust: none;
  }

  body {
    -webkit-text-size-adjust: none;
  }

  .container {
    padding: 0 3rem;
    width: 100%;
  }
  .container--sm {
    width: 100%;
  }
}
.header__inner {
  padding-top: 1.3rem;
}
.header__top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-bottom: 1.5rem;
  border-bottom: 0.16rem solid #E8E9F4;
}
.header__location {
  width: 19.5rem;
  padding: 1.9rem 1rem 1rem 1.4rem;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}
.header__location.active::before {
  content: "";
  width: 27.2rem;
  background: #ffffff;
  border-radius: 1.6rem 1.6rem 0 0;
}
.header__location.active .header__location-body {
  display: block;
  opacity: 1;
}
.header__location-select {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
}
.header__location-select svg {
  width: 1rem;
  height: 0.5rem;
}
.header__office-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 1rem;
}
.header__office-wrap img {
  width: 1.5rem;
  height: 1.7rem;
  margin-right: 0.74rem;
}
.header__office-name {
  font-size: 1.6rem;
  font-weight: 400;
  color: #8a91aa;
}
.header__office-place {
  font-size: 1.8rem;
  font-weight: 600;
  color: #2b2f36;
  margin-right: 1.4rem;
}
.header__location-body {
  width: 100%;
  height: 18.1rem;
  padding: 0.8rem 2.8rem 2.1rem 9.5rem;
  background: #FFFFFF;
  border-radius: 0 0 1.6rem 1.6rem;
  -webkit-transition: 0.8s;
  transition: 0.8s;
  position: absolute;
  top: 4rem;
  left: 0;
  display: none;
  opacity: 0;
}
.header__location-item {
  font-size: 1.8rem;
  font-weight: 600;
  color: #2b2f36;
  cursor: pointer;
}
.header__location-item:not(:last-child) {
  margin-bottom: 0.8rem;
}
.header__money-language-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.header__money {
  position: relative;
  margin-right: 1.9rem;
}
.header__money.active {
  background: #ffffff;
  border-radius: 1.6rem 1.6rem 0 0;
}
.header__money.active .header__money-body {
  display: block;
  opacity: 1;
}
.header__money-select {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 7.5rem;
  height: 6rem;
  background: #ECECF8;
  border-radius: 16px;
}
.header__money-img {
  width: 1.8rem;
  height: 2.5rem;
  margin-right: 1.9rem;
}
.header__money-arrow {
  width: 1rem;
  height: 0.5rem;
}
.header__money-body {
  background: #ffffff;
  padding: 1rem;
  width: 100%;
  position: absolute;
  top: 2rem;
  left: 0;
  display: none;
}
.header__language {
  position: relative;
  cursor: pointer;
}
.header__language.active .header__language-body {
  display: block;
}
.header__language-select {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 7.5rem;
  height: 6rem;
  background: #ECECF8;
  border-radius: 16px;
}
.header__language-select svg {
  width: 1rem;
  height: 0.5rem;
}
.header__language-title {
  font-size: 1.6rem;
  font-weight: 600;
  color: #2b2f36;
  margin-right: 1rem;
}
.header__language-body {
  display: none;
  padding: 1rem;
  position: absolute;
  top: 4rem;
  left: 0;
  width: 100%;
  background: #ffffff;
}
.header__about {
  width: 24.1rem;
  height: 6rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: #ECECF8;
  border-radius: 1.6rem;
  font-size: 1.7rem;
  font-weight: 500;
  color: #2b2f36;
}
.header__social-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 30rem;
}
.header__social-item {
  width: 3rem;
  height: 3rem;
}
.header__social-item img {
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}
.header__phone {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 2rem;
  font-weight: 700;
  color: #2b2f36;
}
.header__phone-img {
  width: 3rem;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
  margin-right: 1.14rem;
}
.header__bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 1rem 0 2rem 0;
}
.header__logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 27.1rem;
  height: 6.5rem;
}
.header__logo img {
  width: 6.96rem;
  height: 6.09rem;
}
.header__logo-text-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-item-align: end;
      align-self: flex-end;
  width: 19.1rem;
}
.header__logo-text-wrap svg:not(:last-child) {
  margin-bottom: 0.7rem;
}
.header__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
  font-size: 1.7rem;
  font-weight: 500;
  color: #2B2F36;
}
.header__item:not(:last-child) {
  margin-right: 3.3rem;
}
.header__right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.header__btns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 7.7rem;
}
.header__like-btn {
  width: 6rem;
  height: 6rem;
  border: 0.12rem solid #D9DEEE;
  border-radius: 1.6rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-right: 1.9rem;
}
.header__like-btn img {
  width: 2.2rem;
  height: 2rem;
  -o-object-fit: contain;
     object-fit: contain;
}
.header__filter-btn {
  width: 6rem;
  height: 6rem;
  border: 0.12rem solid #D9DEEE;
  border-radius: 1.6rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
}
.header__filter-btn img {
  width: 2.2rem;
  height: 2rem;
  -o-object-fit: contain;
     object-fit: contain;
}
.header__filter-btn span {
  width: 2.6rem;
  height: 2.6rem;
  border-radius: 50%;
  background: #0199E4;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 1.5rem;
  font-weight: 700;
  color: #FFFFFF;
  position: absolute;
  bottom: -1rem;
  right: -1rem;
}
.header__btn-back-call {
  width: 24.7rem;
  height: 6rem;
  background: linear-gradient(0deg, #0199E4, #0199E4), linear-gradient(272.89deg, #4341CC -9.64%, #0199E4 92.79%);
  border-radius: 1.6rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0 1.5rem 0 2.3rem;
}
.header__btn-back-call span {
  font-size: 1.7rem;
  font-weight: 500;
  color: #FFFFFF;
}
.header__btn-arrow {
  width: 3.5rem;
  height: 3.5rem;
  border-radius: 50%;
  background: linear-gradient(177.55deg, #FFFFFF 21.07%, rgba(255, 255, 255, 0.24) 181.18%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.header__btn-arrow img {
  height: 100%;
  width: 1rem;
  -o-object-fit: contain;
     object-fit: contain;
}

.banner {
  position: relative;
  height: 100rem;
  padding-top: 55rem;
}
.banner__slider {
  height: 76rem;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  overflow: hidden;
}
.banner__slide-img {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
}
.banner__slide {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 11rem 18rem 5rem 18rem;
}
.banner__btn-video {
  width: 13.9rem;
  height: 13.9rem;
  background: -webkit-gradient(linear, left bottom, left top, from(#E72535), to(#E72535)), #DE1117;
  background: linear-gradient(0deg, #E72535, #E72535), #DE1117;
  -webkit-box-shadow: 1rem 2rem 5rem rgba(243, 83, 83, 0.25);
          box-shadow: 1rem 2rem 5rem rgba(243, 83, 83, 0.25);
  border-radius: 50%;
  font-size: 2rem;
  font-weight: 600;
  color: #FFFFFF;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-item-align: end;
      align-self: flex-end;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  padding: 1rem 1rem 3.2rem 1rem;
  margin-bottom: 21.7rem;
  position: relative;
}
.banner__btn-video::before {
  content: "";
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 1.3rem 1.3rem 1.3rem 1.5rem;
  /* размер и форма */
  border-color: transparent transparent transparent #ffffff;
  /* red — цвет */
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-25%, -85%);
          transform: translate(-25%, -85%);
}
.banner__title {
  font-size: 6rem;
  font-weight: 700;
  color: #ffffff;
  text-shadow: 0.5rem 0.5rem 2.8rem rgba(9, 13, 26, 0.25);
  -ms-flex-item-align: center;
      align-self: center;
  margin-bottom: 2rem;
}
.banner__btn {
  width: 48.8rem;
  height: 7.6rem;
  background: #FFFFFF;
  border-radius: 100rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-item-align: center;
      align-self: center;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  padding: 0 4.3rem 0 3.8rem;
}
.banner__btn-title {
  font-size: 1.7rem;
  font-weight: 500;
  color: #2b2f36;
  margin-right: 14rem;
}
.banner__btn-title span {
  font-size: 2.2rem;
  font-weight: 700;
  color: #2b2f36;
}
.banner__btn-arrow {
  width: 6rem;
  height: 2rem;
}
.swiper-control {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: relative;
  z-index: 1;
  margin-bottom: 3.3rem;
}

.swiper__pagination-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.swiper__pagination span {
  width: 1.2rem;
  height: 1.2rem;
  background: #ffffff;
}
.swiper__pagination span:not(:last-child) {
  margin-right: 1.6rem;
}

.slider__number {
  font-size: 6rem;
  font-weight: 600;
  color: white;
  margin-right: 4.8rem;
}

.swiper__arrows {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.swiper__arrow {
  width: 9.9rem;
  height: 9.9rem;
  border-radius: 50%;
  background: #FFFFFF;
  margin-right: 1.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transition: 0.8s;
  transition: 0.8s;
  cursor: pointer;
}
.swiper__arrow img {
  width: 1rem;
  height: 2rem;
  -webkit-transition: 0.8s;
  transition: 0.8s;
}
.swiper__arrow.swiper-button-disabled {
  width: 7.6rem;
  height: 7.6rem;
}
.swiper__arrow.swiper-button-disabled img {
  width: 0.5rem;
  height: 1.5rem;
}

.filter {
  position: relative;
  z-index: 2;
  -webkit-box-shadow: 1rem 2rem 10rem rgba(40, 44, 78, 0.09);
          box-shadow: 1rem 2rem 10rem rgba(40, 44, 78, 0.09);
  border-radius: 4rem;
}
.filter__header {
  padding: 3.4rem 4.3rem 2rem 4.3rem;
  background: #ffffff;
  border-radius: 4rem 4rem 0 0;
  width: 40rem;
  position: relative;
}
.filter__corner {
  position: absolute;
  background: radial-gradient(circle at 103% 0, rgba(0, 0, 0, 0) 4rem, #fffffF 10px);
  width: 5rem;
  height: 5rem;
  bottom: -0.6rem;
  right: -4.01rem;
}
.filter__title-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.filter__title-img {
  width: 1.4rem;
  height: 1.6rem;
  -o-object-fit: contain;
     object-fit: contain;
  margin-right: 2rem;
}
.filter__title {
  font-size: 2.4rem;
  font-weight: 700;
  color: #2b2f36;
}
.filter__body {
  width: 100%;
  height: 20rem;
  background: #ffffff;
  border-radius: 0rem 4rem 4rem 4rem;
  padding: 5rem 4.4rem 4rem 4.2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.filter__selects {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
}

.select-dropdown {
  position: relative;
}

.dropdown {
  width: 21rem;
  height: 6rem;
  background: #F7F7FD;
  border-radius: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 1rem 2rem 2rem 2rem;
}
.dropdown input {
  width: 100%;
  height: 100%;
  border: none;
  outline: none;
}
.dropdown input::-webkit-input-placeholder {
  font-size: 1.7rem;
  font-weight: 500;
  color: #8a91aa;
  line-height: 2;
}
.dropdown input::-moz-placeholder {
  font-size: 1.7rem;
  font-weight: 500;
  color: #8a91aa;
  line-height: 2;
}
.dropdown input:-ms-input-placeholder {
  font-size: 1.7rem;
  font-weight: 500;
  color: #8a91aa;
  line-height: 2;
}
.dropdown input::-ms-input-placeholder {
  font-size: 1.7rem;
  font-weight: 500;
  color: #8a91aa;
  line-height: 2;
}
.dropdown input::placeholder {
  font-size: 1.7rem;
  font-weight: 500;
  color: #8a91aa;
  line-height: 2;
}
.dropdown svg {
  width: 1.5rem;
  height: 0.8rem;
  margin-top: 1rem;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}
.dropdown__option {
  position: absolute;
  -webkit-transition: 0.6s;
  transition: 0.6s;
  z-index: 100;
  top: 6rem;
  left: 0;
}
.dropdown.active svg {
  -webkit-transform: rotate(175deg);
          transform: rotate(175deg);
}

.mobile {
  display: none;
}

@media (max-width: 48em) {
  .desctop {
    display: none;
  }

  .mobile {
    display: block;
  }
}/*# sourceMappingURL=style.css.map */