
.partner.command {
    margin-bottom: 17rem;
}

.command {
    margin-bottom: 17rem;

    
    &__inner {
    
    }
    
    &__top {
        margin: 0 auto 9rem auto ;
    
    }
    
    &__top-lacation {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 96rem;
        margin: 0 auto 7.5rem auto;

        @include text (2rem, 700, #2B2F36);
        cursor: pointer;

    
    }
    
    &__lacation-item {
    
    }
    
    &__top-address {
        display: flex;
        align-items: center;
        justify-content: flex-end;


        @include text (1.6rem, 400, #8A91AA);

    
    }
    
    &__top-address-item {
        display: flex;
        align-items: center;
        margin-left: auto;

    
    }
    
    &__top-address-name {
        display: flex;
        align-items: center;
        font-size: 1.8rem;
        font-weight: 700;
        margin-right: 2.5rem;
    }
    
    &__top-tel {
        display: flex;
        align-items: center;
        margin-right: 1.5rem;
    }
    
    &__address-value {
        display: flex;
        align-items: center;
        margin-right: 4rem;
    }
    
    &__top-address-img {

        width: 4rem;
        height: 4rem;

        display: flex;
        align-items: center;
        justify-content: center;

        border: 1px solid #BDC4DC;
        box-sizing: border-box;
        box-shadow: 0.4rem 0.4rem 5rem rgba(76, 70, 203, 0.1);
        border-radius: 1.6rem;

        img {
            height: 1.5rem;
            width: 1.5rem;
            object-fit: contain;
        }
    
    }

    &__worker {
        display: flex;
        flex-wrap: wrap;
        column-gap: 3.7rem;
        row-gap: 8.7rem;
    }

}




.order-video.command {

    background: linear-gradient(179.65deg, #D6E1F1 1.84%, #E6EEFB 47.03%, #F0F7FF 99.28%);

    .order-video {


        &__bg {
            width: 25.4rem;
            height: 35.7rem;
            object-fit: contain;
            left: 22.7rem;
            top: auto;
            bottom: 0;
            right: auto;
            z-index: 1;

        }
        
        
        &__inner {
            padding-top: 5rem;
            position: relative;
        
        }
        
        &__title {
            margin-right: 14rem;
        }
        
        &__comment {
            height: 21.7rem;
            border-radius: 4rem;
            padding: 1.4rem 2rem 1.4rem 3.5rem;
        }
        
      
        &__loading-wrap {
            display: flex;
            align-items: center;
        }
        
        &__loading-item {

            &:not(:last-child) {
                margin-right: 3.2rem;
            }
            
            a {
                display: inline-flex;
                align-items: center;
                padding-bottom: 0.7rem;
                border-bottom: 0.1rem solid #8A91AA;
                @include text (1.7rem, 500, #8A91AA);

                img {
                    width: 1.6rem;
                    height: 1.6rem;
                    margin-right: 1.5rem;
                }
            }
        }
        
        &__loading-title {
            @include text (2rem, 700, #2B2F36);
            margin-bottom: 1.5rem;
        }
    }
} 




