
.header {

    
    &__inner {
        padding-top: 1.3rem;
    
    }
    
    &__top {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding-bottom: 1.5rem;
        border-bottom: 0.16rem solid #E8E9F4;
    }
    
    &__location {
        width: 19.5rem;
        padding: 1.9rem 1rem 1rem 1.4rem;
        height: 100%;
        display: flex;
        align-items: center;
        position: relative;
        // transition: 0.8s;

        &.active {
            
            &::before {
                content: "";
                width: 27.2rem;
                background: #ffffff;
                border-radius: 1.6rem 1.6rem 0 0;

            }
            .header__location-body {
                display: block;
                opacity: 1;
            }
        }
    
    }
    
    &__location-select {
        display: flex;
        align-items: center;
        cursor: pointer;

        svg {
            width: 1rem;
            height: 0.5rem;
        }

     
    
    }
    
    
    &__office-wrap {
        display: flex;
        align-items: center;
        margin-right: 1rem;

        img {
            width: 1.5rem;
            height: 1.7rem;
            margin-right: 0.74rem;
        }
    
    }
    
    &__office-name {
        @include text (1.6rem, 400, rgba(138, 145, 170, 1));
    }
    
    &__office-place {
        @include text (1.8rem, 600, rgba(43, 47, 54, 1));
        margin-right: 1.4rem;
    
    }
    
    &__location-body {
        width: 100%;
        height: 18.1rem;
        padding: 0.8rem 2.8rem 2.1rem 9.5rem;
        background: #FFFFFF;
        border-radius: 0 0 1.6rem 1.6rem;
        transition: 0.8s;

        position: absolute;
        top: 4rem;
        left: 0;
        
        display: none;
        opacity: 0;
    }
   
    
    &__location-item {
        @include text (1.8rem, 600, rgba(43, 47, 54, 1));
        cursor: pointer;

        &:not(:last-child) {
            margin-bottom: 0.8rem;
        }
    }

    &__money-language-wrap {
        display: flex;
        align-items: center;
    }
    
    &__money {
        position: relative;
        margin-right: 1.9rem;


        &.active {
            background: #ffffff;
            border-radius: 1.6rem 1.6rem 0 0;

            .header__money-body {
                display: block;
                opacity: 1;
            }
        }
        
    
    }
    
    &__money-select {
        display: flex;
        align-items: center;
        justify-content: center;

        width: 7.5rem;
        height: 6rem;
        background: #ECECF8;
        border-radius: 16px;
    }
    
    &__money-img {
        width: 1.8rem;
        height: 2.5rem;
        margin-right: 1.9rem;
    
    }
    
    &__money-arrow {
        width: 1rem;
        height: 0.5rem;
    
    }
    
    &__money-body {
        background: #ffffff;
        padding: 1rem;
        width: 100%;

        position: absolute;
        top: 2rem;
        left: 0;
        display: none;
    
    }
    
    &__money-item {
    
    }

    &__language {
        position: relative;
        cursor: pointer;

        &.active {
            .header__language-body {
                display: block;
            }
        }
    
    }
    
    &__language-select {
        display: flex;
        align-items: center;
        justify-content: center;

        width: 7.5rem;
        height: 6rem;
        background: #ECECF8;
        border-radius: 16px;

        svg {
            width: 1rem;
            height: 0.5rem;
        }
    
    }
    
    &__language-title {
        @include text(1.6rem, 600, rgba(43, 47, 54, 1));
        margin-right: 1rem;
    }
    
    &__language-body {
        display: none;
        padding: 1rem;

        position: absolute;
        top: 4rem;
        left: 0;
        width: 100%;
        background: #ffffff;
    
    }
  
    
    &__language-item {
    
    }
    
    &__about {
        width: 24.1rem;
        height: 6rem;

        display: flex;
        align-items: center;
        justify-content: center;

        background: #ECECF8;
        border-radius: 1.6rem;

        @include text(1.7rem, 500, rgba(43, 47, 54, 1));
    
    }
    
    &__social-wrap {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 30rem;
    }
    
    &__social-item {
        width: 3rem;
        height: 3rem;

        img {
            height: 100%;
            object-fit: contain;
        }
    }
    
    &__phone {
        display: flex;
        align-items: center;

        @include text (2rem, 700, rgba(43, 47, 54, 1));
    
    }
    
    &__phone-img {
        width: 3rem;
        height: 100%;
        object-fit: contain;
        margin-right: 1.14rem;
    }

    
    &__bottom {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 1rem 0 2rem 0;
    }
    
    &__logo {
        display: flex;
        width: 27.1rem;
        height: 6.5rem;

        img {
            width: 6.96rem;
            height: 6.09rem;
        }
    
    }

    &__logo-text-wrap {
        display: flex;
        flex-direction: column;
        align-self: flex-end;
        width: 19.1rem;

        svg {
            &:not(:last-child) {
                margin-bottom: 0.7rem;
            }
        }
    }
    
    
    &__nav {
    
    }
    
    &__list {
        display: flex;
        align-items: start;
        @include text (1.7rem, 500, #2B2F36);
    }
    
    &__item {
        &:not(:last-child) {
            margin-right: 3.3rem;
        }
    }

    &__right {
        display: flex;
        align-items: center;
    
    }
    
    &__btns {
        display: flex;
        align-items: center;
        margin-right: 7.7rem;
    
    }
    
    &__like-btn {
        width: 6rem;
        height: 6rem;
        border: 0.12rem solid #D9DEEE;
        border-radius: 1.6rem;

        display: flex;
        align-items: center;
        justify-content: center;

        margin-right: 1.9rem;

        img {
            width: 2.2rem;
            height: 2rem;
            object-fit: contain;
        }
    
    }
    
    &__filter-btn {
        width: 6rem;
        height: 6rem;
        border: 0.12rem solid #D9DEEE;
        border-radius: 1.6rem;

        display: flex;
        align-items: center;
        justify-content: center;

        position: relative;

        img {
            width: 2.2rem;
            height: 2rem;
            object-fit: contain;
        }

        span {
            width: 2.6rem;
            height: 2.6rem;
            border-radius: 50%;
            background: #0199E4;

            display: flex;
            align-items: center;
            justify-content: center;

            @include text (1.5rem, 700, #FFFFFF);

            position: absolute;
            bottom: -1rem;
            right: -1rem;
        }
    }
    
    &__btn-back-call {
        width: 24.7rem;
        height: 6rem;
        background: linear-gradient(0deg, #0199E4, #0199E4), linear-gradient(272.89deg, #4341CC -9.64%, #0199E4 92.79%);
        border-radius: 1.6rem;

        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0 1.5rem 0 2.3rem;

        span {
            @include text (1.7rem, 500, #FFFFFF);
        }
    
    }
    
    &__btn-arrow {
        width: 3.5rem;
        height: 3.5rem;
        border-radius: 50%;
        background: linear-gradient(177.55deg, #FFFFFF 21.07%, rgba(255, 255, 255, 0.24) 181.18%);

        display: flex;
        align-items: center;
        justify-content: center;

        img {
            height: 100%;
            width: 1rem;
            object-fit: contain;
        }
    
    }
}


.banner {
    position: relative;
    height: 100rem;
    padding-top: 55rem;


    
    &__slider {
        height: 76rem;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        overflow: hidden;
    }

    &__slide-img {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: -1;
    }
    
    
    &__slider-wrapper {
    
    }
   
    
    &__slide {
        display: flex;
        flex-direction: column;
        padding: 11rem 18rem 5rem 18rem;
    
    }
   
    
    &__btn-video {
        width: 13.9rem;
        height: 13.9rem;
        background: linear-gradient(0deg, #E72535, #E72535), #DE1117;
        box-shadow: 1rem 2rem 5rem rgba(243, 83, 83, 0.25);
        border-radius: 50%;

        @include text (2rem, 600, #FFFFFF);

        display: flex;
        align-items: flex-end;
        justify-content: center;
        align-self: flex-end;
        flex-shrink: 0;

        padding: 1rem 1rem 3.2rem 1rem;
        margin-bottom: 21.7rem;

        position: relative;

        &::before {
            content: "";
            width: 0;
            height: 0;
            border-style: solid;
            border-width: 1.3rem 1.3rem 1.3rem 1.5rem; /* размер и форма */ 
            border-color: transparent transparent transparent #ffffff;  /* red — цвет */ 

            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-25%, -85%);
        }
    
    }
    
    &__title {
        @include text (6rem, 700, #ffffff);
        text-shadow: 0.5rem 0.5rem 2.8rem rgba(9, 13, 26, 0.25);
        align-self: center;
        margin-bottom: 2rem;

    
    }
    
    &__btn {
        width: 48.8rem;
        height: 7.6rem;
        background: #FFFFFF;
        border-radius: 100rem;

        display: flex;
        align-items: center;
        justify-content: space-between;
        align-self: center;
        flex-shrink: 0;
        padding: 0 4.3rem 0 3.8rem;
    }

    
    &__btn-title {
    @include text (1.7rem, 500, rgba(43, 47, 54, 1)); 
    margin-right: 14rem;

    span {
    @include text (2.2rem, 700, rgba(43, 47, 54, 1)); 

    }

    }

    &__btn-arrow {
        width: 6rem;
        height: 2rem;
    }
   
    
    &__inner {
    
    }
    
    
    
}


.swiper-control {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    z-index: 1;
    
}
.swiper__pagination-wrap {
    display: flex;
    align-items: center;
}
.swiper__pagination {

    span {
        width: 1.2rem;
        height: 1.2rem;
        background: #ffffff;

        &:not(:last-child) {
            margin-right: 1.6rem;
        }
    }
}


.slider__number {
    @include text (6rem, 600, rgba(255, 255, 255, 1));
    margin-right: 4.8rem;
}


.swiper__arrows {
    display: flex;
    align-items: center;
    justify-content: space-between;
}


.swiper__arrow {
    width: 9.9rem;
    height: 9.9rem;
    border-radius: 50%;
    background: #FFFFFF;
    margin-right: 1.5rem;

    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.8s;
    cursor: pointer;

    img {
        width: 1rem;
        height: 2rem;
        transition: 0.8s;
    }

    &.swiper-button-disabled {
        width: 7.6rem;
        height: 7.6rem;

        img {
            width: 0.5rem;
            height: 1.5rem;
        }
     
    }
}


// .swiper__arrow-prev {
//     width: 9.9rem;
//     height: 9.9rem;
//     border-radius: 50%;
//     background: #FFFFFF;
//     margin-right: 1.5rem;

//     display: flex;
//     align-items: center;
//     justify-content: center;
//     transition: 0.8s;

//     img {
//         width: 1rem;
//         height: 2rem;
//         transition: 0.8s;
//     }

// }
// .swiper__arrow-next {
//     width: 7.6rem;
//     height: 7.6rem;
//     border-radius: 50%;
//     background: #FFFFFF;

//     display: flex;
//     align-items: center;
//     justify-content: center;
//     transition: 0.8s;


//     img {
//         width: 0.5rem;
//         height: 1.5rem;
//         transition: 0.8s;
//     }


