.header {


    &__inner {
        padding-top: 1.3rem;

    }

    &__top {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding-bottom: 1.5rem;
        border-bottom: 0.16rem solid #E8E9F4;
    }

    &__location {
        width: 19.5rem;
        padding: 1.9rem 1rem 1rem 1.4rem;
        height: 100%;
        display: flex;
        align-items: center;
        position: relative;
        // transition: 0.8s;

        &.active {

            &::before {
                content: "";
                width: 27.2rem;
                background: #ffffff;
                border-radius: 1.6rem 1.6rem 0 0;

            }

            .header__location-body {
                display: block;
                opacity: 1;
            }
        }

    }

    &__location-select {
        display: flex;
        align-items: center;
        cursor: pointer;

        svg {
            width: 1rem;
            height: 0.5rem;
        }



    }


    &__office-wrap {
        display: flex;
        align-items: center;
        margin-right: 1rem;

        img {
            width: 1.5rem;
            height: 1.7rem;
            margin-right: 0.74rem;
        }

    }

    &__office-name {
        @include text (1.6rem, 400, rgba(138, 145, 170, 1));
    }

    &__office-place {
        @include text (1.8rem, 600, rgba(43, 47, 54, 1));
        margin-right: 1.4rem;

    }

    &__location-body {
        width: 100%;
        height: 18.1rem;
        padding: 0.8rem 2.8rem 2.1rem 9.5rem;
        background: #FFFFFF;
        border-radius: 0 0 1.6rem 1.6rem;
        transition: 0.8s;

        position: absolute;
        top: 4rem;
        left: 0;

        display: none;
        opacity: 0;
    }


    &__location-item {
        @include text (1.8rem, 600, rgba(43, 47, 54, 1));
        cursor: pointer;

        &:not(:last-child) {
            margin-bottom: 0.8rem;
        }
    }

    &__money-language-wrap {
        display: flex;
        align-items: center;
    }

    &__money {
        position: relative;
        margin-right: 1.9rem;


        &.active {
            background: #ffffff;
            border-radius: 1.6rem 1.6rem 0 0;

            .header__money-body {
                display: block;
                opacity: 1;
            }
        }


    }

    &__money-select {
        display: flex;
        align-items: center;
        justify-content: center;

        width: 7.5rem;
        height: 6rem;
        background: #ECECF8;
        border-radius: 16px;
    }

    &__money-img {
        width: 1.8rem;
        height: 2.5rem;
        margin-right: 1.9rem;

    }

    &__money-arrow {
        width: 1rem;
        height: 0.5rem;

    }

    &__money-body {
        background: #ffffff;
        padding: 1rem;
        width: 100%;

        position: absolute;
        top: 2rem;
        left: 0;
        display: none;

    }

    &__money-item {}

    &__language {
        position: relative;
        cursor: pointer;

        &.active {
            .header__language-body {
                display: block;
            }
        }

    }

    &__language-select {
        display: flex;
        align-items: center;
        justify-content: center;

        width: 7.5rem;
        height: 6rem;
        background: #ECECF8;
        border-radius: 16px;

        svg {
            width: 1rem;
            height: 0.5rem;
        }

    }

    &__language-title {
        @include text(1.6rem, 600, rgba(43, 47, 54, 1));
        margin-right: 1rem;
    }

    &__language-body {
        display: none;
        padding: 1rem;

        position: absolute;
        top: 4rem;
        left: 0;
        width: 100%;
        background: #ffffff;

    }


    &__language-item {}

    &__about {
        width: 24.1rem;
        height: 6rem;

        display: flex;
        align-items: center;
        justify-content: center;

        background: #ECECF8;
        border-radius: 1.6rem;

        @include text(1.7rem, 500, rgba(43, 47, 54, 1));

    }

    &__social-wrap {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 30rem;
    }

    &__social-item {
        width: 3rem;
        height: 3rem;

        img {
            height: 100%;
            object-fit: contain;
        }
    }

    &__phone {
        display: flex;
        align-items: center;

        @include text (2rem, 700, rgba(43, 47, 54, 1));

    }

    &__phone-img {
        width: 3rem;
        height: 100%;
        object-fit: contain;
        margin-right: 1.14rem;
    }


    &__bottom {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 1rem 0 2rem 0;
    }

    &__logo {
        display: flex;
        width: 27.1rem;
        height: 6.5rem;

        img {
            width: 6.96rem;
            height: 6.09rem;
        }

    }

    &__logo-text-wrap {
        display: flex;
        flex-direction: column;
        align-self: flex-end;
        width: 19.1rem;

        svg {
            &:not(:last-child) {
                margin-bottom: 0.7rem;
            }
        }
    }


    &__nav {}

    &__list {
        display: flex;
        align-items: start;
        @include text (1.7rem, 500, #2B2F36);
    }

    &__item {
        &:not(:last-child) {
            margin-right: 3.3rem;
        }
    }

    &__right {
        display: flex;
        align-items: center;

    }

    &__btns {
        display: flex;
        align-items: center;
        margin-right: 7.7rem;

    }

    &__like-btn {
        width: 6rem;
        height: 6rem;
        border: 0.12rem solid #D9DEEE;
        border-radius: 1.6rem;

        display: flex;
        align-items: center;
        justify-content: center;

        margin-right: 1.9rem;

        img {
            width: 2.2rem;
            height: 2rem;
            object-fit: contain;
        }

    }

    &__filter-btn {
        width: 6rem;
        height: 6rem;
        border: 0.12rem solid #D9DEEE;
        border-radius: 1.6rem;

        display: flex;
        align-items: center;
        justify-content: center;

        position: relative;

        img {
            width: 2.2rem;
            height: 2rem;
            object-fit: contain;
        }

        span {
            width: 2.6rem;
            height: 2.6rem;
            border-radius: 50%;
            background: #0199E4;

            display: flex;
            align-items: center;
            justify-content: center;

            @include text (1.5rem, 700, #FFFFFF);

            position: absolute;
            bottom: -1rem;
            right: -1rem;
        }
    }

    &__btn-back-call {
        width: 24.7rem;
        height: 6rem;
        background: linear-gradient(0deg, #0199E4, #0199E4), linear-gradient(272.89deg, #4341CC -9.64%, #0199E4 92.79%);
        border-radius: 1.6rem;

        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0 1.5rem 0 2.3rem;

        span {
            @include text (1.7rem, 500, #FFFFFF);
        }

    }

    &__btn-arrow {
        width: 3.5rem;
        height: 3.5rem;
        border-radius: 50%;
        background: linear-gradient(177.55deg, #FFFFFF 21.07%, rgba(255, 255, 255, 0.24) 181.18%);

        display: flex;
        align-items: center;
        justify-content: center;

        img {
            height: 100%;
            width: 1rem;
            object-fit: contain;
        }

    }
}


.banner {
    position: relative;
    height: 100rem;
    padding-top: 55rem;
    margin-bottom: 9rem;

    &__slider {
        height: 76rem;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        overflow: hidden;
    }

    &__slide-img {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: -1;
    }

    &__slide {
        display: flex;
        flex-direction: column;
        padding: 11rem 18rem 5rem 18rem;
    }

    &__btn-video {
        width: 13.9rem;
        height: 13.9rem;
        background: linear-gradient(0deg, #E72535, #E72535), #DE1117;
        box-shadow: 1rem 2rem 5rem rgba(243, 83, 83, 0.25);
        border-radius: 50%;

        @include text (2rem, 600, #FFFFFF);

        display: flex;
        align-items: flex-end;
        justify-content: center;
        align-self: flex-end;
        flex-shrink: 0;

        padding: 1rem 1rem 3.2rem 1rem;
        margin-bottom: 21.7rem;

        position: relative;

        &::before {
            content: "";
            width: 0;
            height: 0;
            border-style: solid;
            border-width: 1.3rem 1.3rem 1.3rem 1.5rem;
            /* размер и форма */
            border-color: transparent transparent transparent #ffffff;
            /* red — цвет */

            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-25%, -85%);
        }
    }

    &__title {
        @include text (6rem, 700, #ffffff);
        text-shadow: 0.5rem 0.5rem 2.8rem rgba(9, 13, 26, 0.25);
        align-self: center;
        margin-bottom: 2rem;
    }

    &__btn {
        width: 48.8rem;
        height: 7.6rem;
        background: #FFFFFF;
        border-radius: 100rem;

        display: flex;
        align-items: center;
        justify-content: space-between;
        align-self: center;
        flex-shrink: 0;
        padding: 0 4.3rem 0 3.8rem;
    }


    &__btn-title {
        @include text (1.7rem, 500, rgba(43, 47, 54, 1));
        margin-right: 14rem;

        span {
            @include text (2.2rem, 700, rgba(43, 47, 54, 1));

        }

    }

    &__btn-arrow {
        width: 6rem;
        height: 2rem;
    }
}


.swiper-controll {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    z-index: 1;

    margin-bottom: 1.5rem;

}

.swiper__pagination-wrap {
    display: flex;
    align-items: center;
}

.swiper__pagination {

    span {
        width: 1.2rem;
        height: 1.2rem;
        background: #ffffff;

        &:not(:last-child) {
            margin-right: 1.6rem;
        }
    }
}


.slider__number {
    @include text (6rem, 600, rgba(255, 255, 255, 1));
    margin-right: 4.8rem;
}


.swiper__arrows {
    display: flex;
    align-items: center;
    justify-content: space-between;
}


.swiper__arrow {
    width: 9.9rem;
    height: 9.9rem;
    border-radius: 50%;
    background: #FFFFFF;
    box-shadow: 1rem 2rem 10rem rgba(40, 44, 78, 0.1);
    margin-right: 1.5rem;

    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.8s;
    cursor: pointer;

    img {
        width: 1rem;
        height: 2rem;
        transition: 0.8s;
    }

    &.swiper-button-disabled {
        width: 7.6rem;
        height: 7.6rem;

        img {
            width: 0.5rem;
            height: 1.5rem;
        }

    }
}



.filter {
    position: relative;
    z-index: 2;
    border-radius: 4rem;



    &__header {
        padding: 3rem 4.3rem 0rem 4.3rem;
        background: #ffffff;
        border-radius: 4rem 4rem 0 0;
        width: 34rem;
        margin-bottom: -0.2rem;

        position: relative;


    }

    &__corner {
        position: absolute;
        background: radial-gradient(circle at 103% 0, rgba(0, 0, 0, 0) 4rem, #fffffF 10px);
        width: 5rem;
        height: 5rem;
        bottom: -0.9rem;
        right: -3.3rem;
    }

    &__title-wrap {
        display: flex;
        align-items: center;
    }

    &__title-img {
        width: 1.4rem;
        height: 1.6rem;
        object-fit: contain;

        margin-right: 2rem;
    }

    &__title {
        @include text (2.4rem, 700, rgba(43, 47, 54, 1));

    }

    &__body {
        width: 100%;
        background: #ffffff;
        border-radius: 0rem 4rem 2rem 4rem;
        padding: 5rem 4.4rem 4rem 4.2rem;
        box-shadow: 1rem 2rem 10rem rgba(40, 44, 78, 0.09);
    }



    &__body-top {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 3.4rem;
    }



    &__selects {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
    }

    &__select {
        position: relative;

        &.active {

            .filter__option {
                display: block;
            }

            .filter__wrapper {
                background: #F7F7FD;

                svg {
                    transform: rotate(180deg);
                }
            }
        }
    }

    &__wrapper {
        display: flex;
        align-items: center;

        width: 21rem;
        height: 6rem;
        background: #F7F7FD;
        border-radius: 1rem;

        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 2rem 2rem 2rem 2rem;
        cursor: pointer;


        svg {
            width: 1.5rem;
            height: 0.8rem;
            transition: 0.5s;
        }
    }


    &__current {
        @include text (1.7rem, 500, rgba(138, 145, 170, 1));
    }


    &__option {
        position: absolute;
        top: 5rem;
        left: 0;
        background: #F7F7FD;
        box-shadow: 1rem 2rem 2rem rgba(40, 44, 78, 0.09);
        border-radius: 0 0 1rem 1rem;
        width: 100%;

        display: none;
    }

    &__type-item {
        @include text (1.7rem, 500, rgba(138, 145, 170, 1));
        cursor: pointer;
        padding: 0.75rem 2rem 0.75rem 2rem;
        padding-top: 0.75rem;
        transition: 0.5s;
        width: 100%;

        &:hover {
            background: #ededfd;
            font-weight: 600;
        }
    }

    &__input {
        position: relative;
        height: 6rem;
        width: 19.6rem;
        background: #F7F7FD;
        border-radius: 1rem;
        @include text (1.7rem, 500, rgba(43, 47, 54, 1));


        &.input-id {
            width: 14.1rem;
        }

        input {
            height: 100%;
            width: 100%;
            padding: 2rem 2rem 2rem 5rem;

            display: flex;
            align-items: center;
        }

        span {
            @include text (1.7rem, 500, rgba(138, 145, 170, 1));

            position: absolute;
            top: 50%;
            left: 2rem;
            transform: translateY(-50%);
        }
    }

    &__value {
        width: 18.9rem;
        height: 6rem;
        background: #0199E4;
        border-radius: 1rem;

        @include text (1.9rem, 700, rgba(255, 255, 255, 1));

        display: flex;
        align-items: center;
        justify-content: center;
        flex-shrink: 0;
    }

    &__body-bottom {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    &__more-filters {
        display: flex;
        align-items: center;

        @include text (1.7rem, 500, rgba(138, 145, 170, 1));

        svg {
            width: 1.4rem;
            height: 2.2rem;
            margin-right: 2.1rem;
        }
    }

    &__clean-filters {
        display: flex;
        align-items: center;

        @include text (1.7rem, 500, rgba(138, 145, 170, 1));

        span {
            margin-right: 1.2rem;
        }

        svg {
            width: 2.4rem;
            height: 2.4rem;
        }
    }
}


.photo {
    margin-bottom: 17rem;


    &__inner {
        display: flex;
    }

    &__big-block {
        margin-right: 3.8rem;
        height: 47.1rem;
    }

    &__big {
        position: relative;
        padding: 5rem 2rem 5rem 4rem;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        background: linear-gradient(180deg, rgba(0, 0, 0, 0.4) 0%, rgba(0, 0, 0, 0) 38.2%), linear-gradient(180deg, rgba(0, 0, 0, 0) 64.9%, rgba(0, 0, 0, 0.4) 100%), url(./../img/photo1.png), #C4C4C4;
        background-position-x: center;
        background-position-y: center;
        background-size: cover;
        border-radius: 3rem;
        width: 36.2rem;
        height: 100%;
    }

    &__blocks-wrap {
        display: flex;
        justify-content: space-between;
        width: 100%;
    }

    &__row {
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        &:nth-child(2n) {
            flex-direction: column-reverse;
        }
    }

    &__block {
        position: relative;
        padding: 3rem 2rem 3rem 2rem;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        background: linear-gradient(180deg, rgba(0, 0, 0, 0.4) 0%, rgba(0, 0, 0, 0) 38.2%), linear-gradient(180deg, rgba(0, 0, 0, 0) 64.9%, rgba(0, 0, 0, 0.4) 100%), url(./../img/photo1.png), #C4C4C4;
        background-position-x: center;
        background-position-y: center;
        background-size: cover;
        border-radius: 3rem;
        width: 36.2rem;
        height: 25rem;

        img {
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            z-index: -1;
            border-radius: inherit;
        }

        &:nth-child(2n) {
            background: linear-gradient(180deg, rgba(0, 0, 0, 0.4) 0%, rgba(0, 0, 0, 0) 38.2%), linear-gradient(180deg, rgba(0, 0, 0, 0) 64.9%, rgba(0, 0, 0, 0.4) 100%), url(./../img/photo2.png), #C4C4C4;
            background-position-x: center;
            background-position-y: center;
            background-size: cover;
            height: 20rem;
        }
    }

    &__block-title {
        @include text (3.7rem, 700, rgba(255, 255, 255, 1));
    }
}


.new-objects {
    margin-bottom: 17.5rem;

    &__inner {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        row-gap: 3.7rem;
    }

    &__title {
        margin-bottom: 6.5rem;
    }
}


.support {
    margin-bottom: 16rem;
    position: relative;

    &::before {
        content: "";
        width: 105rem;
        height: 44rem;
        background: #ECECF5;
        border-radius: 50rem 0 0 50rem;

        position: absolute;
        top: 10rem;
        right: 0;
        z-index: -1;
    }

    
    &__inner {
        display: flex;
    
    }
    
    &__text-block {
        width: 64.3rem;
        padding-top: 9.5rem;
    
    }
    
    &__title {
        margin-bottom: 2.2rem;
    }
    
    
    &__subtitle {
        margin-bottom: 5rem;
        line-height: 1.58;
        width: 73%;
    }


    &__links {
        display: flex;
        align-items: center;
        margin-bottom: 5.7rem;
    }
    
    &__btn {

        span {
            color: rgba(43, 47, 54, 1);
        }

        &:not(:last-child) {
            margin-right: 3.7rem;
        }
    }

    
    &__img {
    width: 39.5rem;
    height: 20.5rem;

    img {
        height: 100%;
        object-fit: contain;
    }
    }
    
    &__slider-block {
        width: 90rem;
    }
    
    &__slider {
    
    }
    
    
    &__slider-wrapper {
    
    }
    
    
    &__slide {

    
    }
    
    
    &__slide-inner {
        display: flex;
    }
    
    &__slide-img {
        width: 59rem;
        height: 56rem;

        img {
            height: 100%;
            object-fit: contain;
        }
    
    }
    
    &__slide-text {
        padding-top: 18.5rem;

    
    }
    
    &__slide-title {
        @include text (3rem, 700, rgba(43, 47, 54, 1));
        margin-bottom: 3.5rem;
    }
    
    &__slide-item {

        &:not(:last-child) {
            margin-bottom: 3rem;
        }
    }
    
    &__slide-item-title {
        @include text (1.5rem, 400, rgba(43, 47, 54, 1));
        margin-bottom: 1rem;
    }
    
    &__slide-item-value {
        @include text (1.6rem, 700, rgba(43, 47, 54, 1));

        svg {
            width: 1.7rem;
            height: 1.7rem;
            margin-right: 1.1rem;
        }
    }

    &__slider-controll {
        width: 100%;
        margin-left: 4rem;
    }

    &__slider-pagination {
        position: static;
        width: 10rem;

        span {
            width: 1.2rem;
            height: 1.2rem;
            background: rgba(43, 47, 54, 1);
        }

        &.swiper-pagination-bullets {
            width: 20rem;
        }
    }
}


.catalog {
    margin-bottom: 17rem;

    
    &__title {
        margin-bottom: 5.7rem;
    }
    
    
    &__content {
        display: flex;
        justify-content: space-between;
        width: 100%;
    }
    
    &__box-column {
        display: flex;
        flex-direction: column;
        row-gap: 1.8rem;
        height: 100%;

        &:nth-child(2n) {
            flex-direction: column-reverse;
        }
    
    }
    
    &__box {
        width: 36.2rem;
        height: 25.3rem;
        filter: drop-shadow(1rem 2rem 10rem rgba(40, 44, 78, 0.15));
        border-radius: 3rem;
        // position: relative;

        &.photo-box,
        &.map {
            height: 20rem;
        }

        &.to-buy {
            background: #ffffff;
            padding: 2.2rem 3.2rem 3.2rem 3.2rem;
        }

        &.map {
            position: relative;
        }

        img {
            height: 100%;
            object-fit: cover;
            border-radius: inherit;
        }
    }
  
    
    &__box-title {
        @include text (2rem, 700, #2B2F36);
        margin-bottom: 2rem;

    
    }
    
    &__item {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 30rem;
        font-size: 1.4rem;
        font-weight: 400;
        margin-bottom: 1.4rem;

        &:not(:last-child) {
            margin-bottom: 1.1rem;
        }

       &:last-of-type {
           margin-bottom: 2rem;
       }
    
    }
    
    &__item-key {
        color: #2B2F36;
        padding-right: 2rem;
    }
    
    &__item-value {
        color: #BABFD3;
    
    }
    
    &__item-link {
        display: flex;
        align-items: center;
        @include text (1.5rem, 700, #2B2F36);

        img {
            width: 1rem;
            height: 1rem;
            object-fit: contain;
            margin-left: 1.7rem;
        }
    
    }
    
    
    &__box-map-link {
        width: 10.9rem;
        height: 10.9rem;
        border-radius: 50%;
        background: #0199E4;
        box-shadow: 1rem 2rem 5rem rgba(83, 186, 243, 0.25);

        display: flex;
        align-items: center;
        justify-content: center;

        @include text (1.4rem, 600, #FFFFFF);
        text-align: center;
        margin: auto;

        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
}


.mortgage {
    padding-top: 5rem;
    margin-bottom: 17rem;

    position: relative;

    &::before {
        content: "";
        width: 100%;
        height: 100%;
        background: linear-gradient(175.32deg, #E6EEFB 4.9%, #EBF4FF 96.86%);

        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        z-index: -1;
    }

    
    &__inner {
        display: flex;
        position: relative;
        padding-bottom: 11rem;
        padding-top: 6rem;
        justify-content: space-between;
    }

    &__img {
        width: 63rem;
        height: 74rem;

        position: absolute;
        bottom: 0;
        left: 42%;
        // transform: translateX(-50%);

        img {
            height: 100%;
            object-fit: cover;
        }
    }
    
    &__calculation {
        width: 56.4rem;
        padding: 5rem 5.7rem 5.1rem 5.8rem;
        background: #FFFFFF;
        border-radius: 3rem;
        height: 100%;
    }
    
    &__title {
        @include text (3.7rem, 700, rgba(43, 47, 54, 1));
        margin-bottom: 1rem;
    }
    
    &__subtitle {
        @include text (1.7rem, 400, rgba(138, 145, 170, 1));
        margin-bottom: 3.7rem;
        line-height: 1.588;
    }

    
    &__ranger {
        position: relative;
        margin-bottom: 3rem;


        &::before {
            content: "";
            background: #F8F8FE;
            border-radius: 1.3rem;
            height: 6rem;
            width: 100%;

            position: absolute;
            left: 0;
            bottom: 1rem;
        }
    }

    &__rangers-wrap {
        display: flex;
        margin-bottom: 4.3rem;
    }

    &__ranger-payment {
        position: relative;
        width: 25.6rem;
        margin-right: 2.5rem;

        &::before {
            content: "";
            background: #F8F8FE;
            border-radius: 1.3rem;
            height: 6rem;
            width: 100%;

            position: absolute;
            left: 0;
            bottom: 1rem;
        }
    }

    &__ranger-term {
        position: relative;
        width: 16.5rem;

        &::before {
            content: "";
            background: #F8F8FE;
            border-radius: 1.3rem;
            height: 6rem;
            width: 100%;

            position: absolute;
            left: 0;
            bottom: 1rem;
        }
    }
    
    &__ranger-title {
        @include text (1.4rem, 400, rgba(138, 145, 170, 1));
        margin-bottom: 3.5rem;
    }

    &__ranger-sale {
        position: absolute;
        right: 2rem;
        top: 5.2rem;

        @include text (1.7rem, 500, rgba(138, 145, 170, 1));
    }

    .irs {
        width: 95%;
        margin: 0 auto;
    }

    .irs-bar {
        background: #0199E4;
    }

    .irs--round .irs-handle {
        border: 0.5rem solid #ffffff;
        background-color:  #0199E4;
    }

    .irs-line {
        background: rgba(231, 231, 242, 1);
        height: 0.2rem;
    }

    .irs-single {
        position: static;
        @include text(1.7rem, 600, rgba(43, 47, 54, 1));
        padding: 0;
        background: transparent;

        &::before {
            content: none;
        }
    }

    &__rangers {
        display: flex;
    }
    
 
    
    &__about {
        width: 28rem;
        margin-top: 8rem;
        margin-left: auto;
    }
    
    &__about-precetn {
        @include text (2rem, 400, #2B2F36);
        margin-bottom: 8.5rem;
        line-height: 1.3;
        width: 80%;
        text-align: right;
        margin-left: auto;

        span {
        @include text (3.7rem, 700, #2B2F36);
        }
    }
    
    &__about-bank {
        width: 20.2rem;
        height: 11.7rem;
        background: linear-gradient(0deg, rgba(255, 255, 255, 0.9), rgba(255, 255, 255, 0.9)), #EAF3FF;
        border-radius: 0 2.5rem 0 2.5rem;
        margin-bottom: 8.5rem;
        margin-left: auto;

        display: flex;
        align-items: center;
        justify-content: center;

            img {
                width: 13.6rem;
                height: 7rem;
                object-fit: contain;
            }
    }
    
    &__about-bank-description {
        @include text (1.5rem, 400, rgba(138, 145, 170, 1));
        text-align: right;
        margin-left: auto;
        line-height: 1.8;
        width: 75%;
    }

    
    &__bottom {
        display: flex;
        align-items: center;
        justify-content: space-between;
    
    }
    
    &__price {
        @include text (3.2rem, 700, rgba(43, 47, 54, 1));

        span {
            @include text (1.5rem, 400, rgba(153, 162, 181, 1));
            margin-right: 0.5rem;
        }

        sup {
            font-size: 1.3rem;
        }
    
    }
    
    &__button {
        width: 22.3rem;
        height: 6rem;
        background: linear-gradient(0deg, #0199E4, #0199E4), linear-gradient(272.89deg, #4341CC -9.64%, #0199E4 92.79%);
        border-radius: 1.6rem;

        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0 1.5rem 0 2.5rem;
    
    }
    
    &__button-name {
        @include text (1.7rem, 500, rgba(255, 255, 255, 1));
    
    }
    
    &__buttom-arrow {
        width: 3.5rem;
        height: 3.5rem;
        border-radius: 50%;
        background: linear-gradient(177.55deg, #FFFFFF 21.07%, rgba(255, 255, 255, 0.24) 181.18%);

        display: flex;
        align-items: center;
        justify-content: center;

        img {
            height: 1.7rem;
            width: 1.7rem;
            object-fit: contain;
        }
    }
}


.real-estate {
    margin-bottom: 17rem;

    
    &__inner {
    
    }
    
    &__title {
        text-align: center;
        margin-bottom: 5.5rem;
    }
   
    
    &__select {
        position: relative;
        
        &.active {

            .real-estate__wrapper {
                svg {
                    transform: rotate(175deg);
                }
            }

            .real-estate__option {
                display: block;
            }
        }
    
    }
    
    &__select-top {
        display: flex;
        justify-content: space-between;
        margin-bottom: 3.8rem;
    
    }
   
    
    &__wrapper {
        width: 49.4rem;
        height: 6rem;
        background: #EFF0F8;
        border-radius: 1rem;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 2rem 2rem 2rem 2rem;
        margin-right: 2rem;
        cursor: pointer;

        svg {
            width: 1.5rem;
            height: 0.8rem;
            transition: 0.5s;
        }

       
    }
    
    
    
    &__current {
        font-size: 1.7rem;
        font-weight: 500;
        color: #8a91aa;
    }
    
    &__option {
        position: absolute;
        top: 5rem;
        left: 0;
        background: #F7F7FD;
        box-shadow: 1rem 2rem 2rem rgb(40 44 78 / 9%);
        border-radius: 0 0 1rem 1rem;
        width: 100%;
        display: none;
    }
    
    &__type-item {
        font-size: 1.7rem;
        font-weight: 500;
        color: #8a91aa;
        cursor: pointer;
        padding: 0.75rem 2rem 0.75rem 2rem;
        padding-top: 0.75rem;
        -webkit-transition: 0.5s;
        transition: 0.5s;
        width: 100%;
    }

    &__ranger-wrap {
        position: relative;
        width: 39.2rem;
        margin-right: 2rem;

        &::after {
            content: "";
            width: 39.2rem;
            height: 6rem;
            background: #EFF0F8;
            border-radius: 1rem;

            position: absolute;
            bottom: 0.2rem;
            left: 0;
            z-index: -1;
        }
    }
    
    &__ranger {
        width: 100%;
        position: absolute;
        left: 0;
        bottom: -1rem;
    }
    
    .irs-from,
    .irs-to,
    .irs-single {
        display: none;
    }

    .irs {
        width: 95%;
        margin: 0 auto;
    }

    .irs--round .irs-handle {
        border: 0.5rem solid #ffffff;
        background-color: #0199E4;
    }

    .irs-bar {
        background: #0199E4;
    }

    .irs-line {
        background: #e7e7f2;
        height: 0.2rem;
    }

    .extra-controls {
        position: absolute;
        top: 1.5rem;
        width: 39.2rem;

        display: flex;
        justify-content: space-between;
        align-items: center;

        .input-wrap {
            display: flex;
            align-items: center;
            position: relative;

            span {
                @include text (1.3rem, 500, #B1B1C5);
                margin-right: 1rem;
                padding-left: 2rem;

                &.postfix {
                    @include text (1.7rem, 500, #2B2F36);
                    padding-right: 2rem;
                    margin-right: 0;
                    padding-left: 0;
                }
            }
        }

        .price-from {
            position: relative; 
            @include text (1.7rem, 500, #2B2F36);
            width:7rem;
        }

        .price-to {
            position: relative; 
            @include text (1.7rem, 500, #2B2F36);
            width:7rem;
        }

    }



    .price {
    }
    
    &__button-top {
        width: 13.824rem;
    }
    
    
    &___select-bottom {
        display: flex;
        justify-content: space-between;
        margin-bottom: 7.3rem;
    
    }
    
    &__select-left {
        display: flex;
    }
    
    &__button-bottom {
        width: 18.8rem;

        &:not(:last-child) {
            margin-right: 2rem;
        }
    }
    
    &__select-right {
        display: flex;
        align-items: center;
    }
    
    &__all {
        @include text (2rem, 700, #2B2F36);
        margin-right: 5.9rem;
    }
    
    &__reset {
        @include text (1.7rem, 500, #8A91AA);
        display: flex;
        align-items: center;
    
        img {
            width: 2rem;
            height: 2rem;
            margin-left: 1.2rem;
        }
    }

    
    &__content {
        display: flex;
        flex-wrap: wrap;
        gap: 3.8rem;
    }
    
    &__box {
        width: 49.4rem;
        height: 63.8rem;
        position: relative;
    }

    
    &__box-inner {
        background: #FFFFFF;
        box-shadow: 1rem 2rem 10rem rgb(40 44 78 / 10%);
        border-radius: 1.8rem 1.8rem 1.8rem 0;
        height: 55.9rem;
        overflow: hidden;

        &.active {
            .real-estate__slider {
                height: 22rem;
            }
        }
    }
    
    &__box-top {
        padding: 2.3rem 2.3rem 1.5rem 2.3rem;
    }

    &__slider {
        height: 44rem;
        margin-bottom: 1.6rem;
        position: relative;
        transition: 0.6s;
        border-radius: 1.5rem;

        img {
            height: 100%;
            object-fit: cover;
            border-radius: inherit;
        }
    }
    
    &__slider-wrapper {
        border-radius: 1.5rem;
    }

    &__slide {
        border-radius: inherit;
    }
    
    &__pagination {

        span {
            background: #ffffff;
            width: 1rem;
            height: 1rem;
        }

        &.swiper-pagination  {
            bottom: 3rem;
        }
    }
    
    &__text-block {
        cursor: pointer;
        padding: 0 2.3rem 8rem 3.5rem;

        &:hover {

            .real-estate__box-hover {
                display: block;
            }

            .real-estate__bottom-block {
                .static {
                    display: none;
                }
        
                .hover {
                    display: flex;
                }
            }
        }

    
    }

    &__box-hover {
        display: none;
        transition: 0.8s;
    }
    
    &__box-title {
        font-size: 2.1rem;
        font-weight: 700;
        color: #2b2f36;
        margin-bottom: 2.3rem;
        line-height: 1.38;
        width: 87%;
    }
    
    &__bottom-block {
        position: absolute;
        left: 0;
        right: 0;
        bottom: 0.2rem;
        display: flex;
        justify-content: space-between;

        .static {
            display: flex;
            align-items: center;
        }

        .hover {
            display: none;
        }
    
    }

    &__text-bottom {
        @include text (1.5rem, 400, rgba(138, 145, 170, 1));
    }

    
    &__box-item {
        display: flex;
        align-items: center;
        justify-content: space-between;
        transition: 0.6s;

        &:not(:last-child) {
            margin-bottom: 2.2rem;
        }
    }
    
    &__box-item-left {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 37%;
    }
    
    &__box-item-left-key {
        @include text (1.6rem, 600,  rgba(43, 47, 54, 1));
    }
    
    &__box-item-left-value {
        @include text (1.6rem, 400,  rgba(43, 47, 54, 1));
    }
    
    &__box-item-right {
        @include text (1.6rem, 600,  rgba(43, 47, 54, 1));

        span {
            font-size: 1.4rem;
            font-weight: 400;
        }

        sup {
            font-size: 1rem;
            font-weight: 700;
        }
    }
    
    &__bottom-box-info {
        background: #FFFFFF;
        border-radius: 0 0 1.8rem 1.8rem;
        padding-left: 3.5rem;
        padding-right: 3.5rem;
        width: 87%;

        display: flex;
        align-items: center;
        justify-content: space-between;

        &.hover {
            padding-bottom: 2.5rem;
            border-bottom: 0.1rem solid #DDE2F4;
            margin-bottom: 2.5rem;
            padding-left: 0rem;
            padding-right: 0rem;
            box-shadow: none;
            border-radius: 0 0 0 0;
            width: 100%;
        }
    }
    
    &__sity-wrap {
        display: flex;
        align-items: center;
    }
    
    &__sity-img {
        width: 2rem;
        height: 2rem;
        margin-right: 1rem;

        img {
            height: 100%;
            object-fit: contain;
        }
    }
    
    &__sity-name {
        @include text (1.6rem, 400, #2B2F36);
    }
    
    &__box-price {
        @include text (2.2rem, 600, #2B2F36);

        span {
            font-size: 1.5rem;
            font-weight: 400;
            color: #99A2B5;
            margin-right: 0.5rem;
            margin-top: 0.5rem;
        }

        sup {
            font-size: 1.5rem;
            margin-bottom: 2rem;
        }
    }
}


.partner {
    height: 83.5rem;
    padding-top: 8.1rem;
    margin-bottom: 17.9rem;
    position: relative;

    &__bg {
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        z-index: -1;
    }
    
    &__in-numbers {
        width: 82rem;
        background: #0199E4;
        border-radius: 5rem 0 0 0;
        padding: 5.3rem 5.1rem 5rem 5.1rem;
        position: absolute;
        bottom: 0;
        right: 0;
    }
    
    &__item {
        display: flex;
        align-items: center;
        justify-content: space-between;

            &:not(:last-child) {
                margin-bottom: 2rem;
            }
    }
    
    &__item-key {
        display: flex;
        align-items: center;
        justify-content: space-between;
        @include text (1.7rem, 400, #FFFFFF);
        width: 46%;
    }

    &__item-value {
        font-size: 3.1rem;
        font-weight: 500;
        color: #ffffff;
        margin-right: auto;
    } 

    &__item-link {
        @include text (1.5rem, 500, #FFFFFF);
        padding-bottom: 0.5rem;
        border-bottom: 0.1rem solid #ffffff;
        margin-right: 10.5rem;
        margin-top: 1rem;
    }
    
    &__inner {
        display: flex;
        justify-content: space-between;
    
    }
    
    &__about {
        @include text (1.6rem, 400, #2B2F36);
        width: 23.2rem;
        padding-top: 7rem;
    
    }
    
    &__about-title {
        margin-bottom: 11.7rem;
        line-height: 1.562;
    }

    .banner__btn-video {
        background: #0199E4;
        box-shadow: 1rem 2rem 5rem rgba(83, 205, 243, 0.25);
    }
    
    &__title-block {
        width: 70rem;
        padding-right: 3rem;
        padding-top: 2rem;
    }
    
    &__title {
        @include text (5.5rem, 700, #2B2F36);
        margin-bottom: 4.2rem;
        width: 70%;

        span {
            color: #0199E4;
        }
    }
    
    &__btn {
        span {
            color: #2B2F36;
        }
    }
    
    &__command {
        width: 40.4rem;
    }
    
    &__command-img {
        width: 26.4rem;
        height: 30.6rem;
        border-radius: 0 3rem 0 3rem;
        margin-bottom: 3.5rem;

        img {
            height: 100%;
            object-fit: cover;
            border-radius: inherit;
        }
    }
    
    &__command-title {
        @include text (1.5rem, 500, #8A91AA);
        margin-bottom: 1.4rem;
    }
    
    &__command-subtitle {
        @include text (1.5rem, 500, #2B2F36);
        width: 60%;
        padding-left: 1.5rem;
    }
}


.rewiews {
    margin-bottom: 17rem;
    overflow: hidden;


    
    &__inner {
        

    
    }
    
    &__title-wrap {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 6rem;
    }
    
    &__title {
    
    }
   
    
    &__slider-prev {
    
    }
  
    
    &__slider-next {
    
    }
    
    &__slider {
    
    }
   
    
    &__slider-wrapper {
    
    }
   
    
    &__slide {
        // padding: 3.3rem 3.4rem 6.5rem 3.4rem;
        // background: #FFFFFF;
        // box-shadow: 1rem 2rem 10rem rgba(40, 44, 78, 0.1);
        // border-radius: 4rem;
        position: relative;
        padding: 0 3.4rem 0 3.4rem;
        border-radius: 4rem;


        // width: 40rem;
    }
    
    
    &__slide-inner {
        background: #FFFFFF;
        box-shadow: 1rem 2rem 10rem rgba(40, 44, 78, 0.1);
        border-radius: 4rem;
        padding: 3.2rem 3.4rem 6.1rem 3.2rem
    
    }
    
    &__slide-sity {
        @include text (1.6rem, 600, #FFFFFF);

        display: flex;
        align-items: center;
        justify-content: center;

        background: #0199E4;
        width: 14.4rem;
        height: 6.1rem;
        border-radius:  0 3rem 0 3rem;

        position: absolute;
        top: 11.4rem;
        left: 0;


    }
    
    
    &__slide-name-wrap {
        width: 24.4rem;
        height: 20rem;
        position: relative;
        // overflow: hidden;
        // border-top: 3rem solid #ffffff;
        // border-right: 3rem solid #ffffff;
        // border-left: 0rem solid transparent;
        // border-bottom: 0rem solid transparent;
        // border-radius: 4rem 0 4rem;
        // box-shadow: 24px -22px 5px rgb(40 44 78 / 15%);
        // background-color: #ffffff;

        position: absolute;
        top: 11.4rem;
        right: 0;

        //     // width: 20rem;
        //     // height: 6rem;
        //     // border-radius: 6rem;
        //     // background-color: blueviolet;


        // &::before {
        //     content: "";
        //     width: 23rem;
        //     height: 6rem;
        //     border-radius: 6rem;
        //     background-color: #ffffff;
        //     position: absolute;
        //     top: 21%;
        //     left: -16%;
        //     transform: rotate(42deg);
        //     box-shadow: 20px 20px 100px rgba(40, 44, 78, 0.15);
        // }
    
        img {
            height: 100%;
            object-fit: contain;
            position: absolute;
            top: 0;
            right: 0;
            z-index: -1;
        }
    
    }
    
    &__slide-name {
    
    }
    
    &__slide-data {
    
    }
    
    &__slide-link {
        width: 7rem;
        height: 7rem;
        border-radius: 50%;
        background-color: #E82E3D;

        display: flex;
        align-items: center;
        justify-content: center;

        position: absolute;
        right: 2rem;
        bottom: 0;

        img {
            height: 2rem;
            width: 3rem;
            object-fit: contain;
        }
    }
    
    &__slide-top {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 5.2rem;
    
    }
    
    &__slide-top-key {
        @include text (1.5rem, 400, #8A91AA);
    
    }
    
    &__slide-top-value {
        @include text (1.5rem, 600, #2B2F36);
    
    }
    
    &__slide-photo {
        width: 11.3rem;
        height: 11.3rem;
        border-radius: 50%;
        border: 0.4rem solid #FFFFFF;
        filter: drop-shadow(2rem 2rem 10rem rgba(40, 44, 78, 0.15));
        margin: 0 auto;
        margin-bottom: 4rem;

        img {
            height: 100%;
            object-fit: cover;
            background-size: cover;
            border-radius: inherit;
        }
    
    }
    
    &__slide-text {
        @include text (2rem, 400, #2B2F36);
        line-height: 1.55;
    }
    
    &__pagination-wrap {
    
    }
    
    &__numbers {
    
    }
    
    &__pagination {
    
    }
   
    

}





