.objects-box {
    width: 36.2rem;


    
    &__inner {
        padding: 2.3rem 2.3rem 0 2.3rem;
        background: #FFFFFF;
        box-shadow: 1rem 2rem 10rem rgba(40, 44, 78, 0.1);
        border-radius: 1.8rem 1.8rem 1.8rem 0;  
        padding-bottom: 2rem;  
        height: 85%;
    }
    
    &__slider {
        height: 17.3rem;
        margin-bottom: 1.6rem; 
        position: relative;   
    }

    &__pagination {
        position: absolute;
        z-index: 20;

        span {
            background: #ffffff;
            width: 1rem;
            height: 1rem;
        }

        &.swiper-pagination  {
            bottom: 1rem;
            left: 50%;
            transform: translateX(-50%);
        }
    }

    &__slider-wrapper {
        border-radius: 1.5rem;
    
    }

    &__slide {
        border-radius: inherit;
    }

    &__img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: inherit;
    }

    &__location {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding-bottom: 1.7rem;
        margin-bottom: 1.6rem;
        border-bottom: 0.1rem solid #DDE2F4;
    }
    
    &__place {
        display: flex;
        align-items: center;
    }
    
    &__location-img {
        width: 1.5rem;
        height: 2rem;
        margin-right: 0.75rem;

        img {
            height: 100%;
            object-fit: contain;
        }
    }
    
    &__place-name {
        @include text (1.6rem, 400, rgba(43, 47, 54, 1));
    }
    
    &__id {
        @include text (1.3rem, 400, rgba(153, 162, 181, 1));

        span {
            margin-right: 0.5rem;
        }
    }
    
    &__title {
        @include text (2.1rem, 700, rgba(43, 47, 54, 1));
        margin-bottom: 2.3rem;
        line-height: 1.38;
        width: 96%;
    }
    
    &__area {
        display: flex;
    }
    
    &__area-key-wrap {
        display: flex;
        align-items: center;
        margin-bottom: 1.8rem;
        margin-right: 0.8rem;
    }
    
    &__area-key-img {
        width: 2.1rem;
        height: 2.1rem;
        margin-right: 0.6rem;

        img {
            height: 100%;
            object-fit: contain;
        }
    }
    
    &__area-key-name {
        @include text (1.5rem, 400, rgba(138, 145, 170, 1));
        margin-right: 0.4rem;
    }
    
    &__area-value {
        @include text (1.5rem, 700, rgba(43, 47, 54, 1));
    }
    
    &__rooms {
        display: flex;
        align-items: center;
    }
    
    &__rooms-key-wrap {
        display: flex;
        align-items: center;
        margin-right: 2rem;
    }
    
    &__rooms-key-img {
        width: 2.1rem;
        height: 2.1rem;
        margin-right: 0.6rem;

        img {
            height: 100%;
            object-fit: contain;
        }
    }
    
    &__rooms-key-name {
        @include text (1.5rem, 400, rgba(138, 145, 170, 1));
    }
    
    &__rooms-value-wrap {
        display: flex;
        align-items: center;
    }
    
    &__rooms-value {
        width: 4.5rem;
        height: 3rem;
        background: #F0F0F9;
        border-radius: 1rem;
        padding: 0.5rem;

        display: flex;
        align-items: center;
        justify-content: center;

        @include text (1.6rem, 700, rgba(43, 47, 54, 1));

        &:not(:last-child) {
            margin-right: 1rem;
        }
    }
    
    &__down {
        display: flex;
        justify-content: space-between;
    }
    
    &__price {
        background: #FFFFFF;
        border-radius: 0 0 1.8rem 1.8rem;
        padding-top: 2rem;
        padding-left: 2.5rem;
        padding-right: 2rem;
        padding-bottom: 1.5rem;
        box-shadow: -1rem 2rem 2rem rgba(40, 44, 78, 0.1);
        width: 87%;
        display: flex;
        align-items: flex-start;
        
        span {
        @include text (1.4rem, 400, rgba(153, 162, 181, 1));
        margin-right: 0.8rem;
        }
    }
    
    &__price-value {
        @include text (2.3rem, 700, #2B2F36);

        sup {
            font-size: 1.8rem;
        }
    }
    
    &__like {
        width: 6.5rem;
        height: 6.5rem;

        display: flex;
        align-items: center;
        justify-content: center;
        flex-shrink: 0;

        border-radius: 1.6rem;

        background: #0199E4;
        margin-top: 1.3rem;

        position: relative;
        transition: 0.8s;

        &.active {
            background: linear-gradient(0deg, #E82E3D, #E82E3D), linear-gradient(329.72deg, #DE1117 6.36%, #F13E5E 115.33%), linear-gradient(321.12deg, #DE1117 -13.86%, #F13E5E 74.59%), linear-gradient(0deg, #D91F40, #D91F40), linear-gradient(119.1deg, #4341CC 42.46%, #FF9CB4 149.72%), #6C42E2;
        }

        svg {
            width: 3rem;
            height: 3rem;
        }
    }
}





@media (max-width: 48em) {

    .objects-box {
        width: 100%;
        height: 10%;
        
        &__inner {
            padding: 4rem 4rem 0 4rem;
            border-radius: 4rem 4rem 4rem 0;  
            padding-bottom: 3rem;  
            height: 82rem;
        }
        
        &__slider {
            height: 33rem;
            margin-bottom: 4.6rem; 
        }
    
        &__pagination {

            span {
                width: 1.6rem;
                height: 1.6rem;
            }
    
            &.swiper-pagination  {
                bottom: 3rem;
            }
        }
    
        &__slider-wrapper {
            border-radius: 3rem;
        }
    
        &__location {
            padding-bottom: 2rem;
            margin-bottom: 2.4rem;
        }
        
        &__location-img {
            width: 4rem;
            height: 4rem;
            margin-right: 0.3rem;
        }
        
        &__place-name {
            font-size: 3.2rem;
        }
        
        &__id {
            font-size: 2.6rem;
    
            span {
                margin-right: 0.5rem;
            }
        }
        
        &__title {
            font-size: 3.6rem;
            margin-bottom: 2.2rem;
            line-height: 1.3;
        }
        
        &__area-key-wrap {
            margin-bottom: 3rem;
            margin-right: 0.8rem;
        }
        
        &__area-key-img {
            width: 4rem;
            height: 4rem;
            margin-right: 1.6rem;
        }
        
        &__area-key-name {
            font-size: 3rem;
            margin-right: 0.8rem;
        }
        
        &__area-value {
            font-size: 3.2rem;
        }
        
        &__rooms-key-wrap {
            margin-right: 1.6rem;
        }
        
        &__rooms-key-img {
            width: 4rem;
            height: 4rem;
            margin-right: 1.6rem;
        }
        
        &__rooms-key-name {
            font-size: 3rem;
        }
        
        &__rooms-value {
            width: 8rem;
            height: 6rem;
            border-radius: 2rem;
            padding: 1rem;
    
            font-size: 3rem;

            &:not(:last-child) {
                margin-right: 1.8rem;
            }
        }
        
        &__price {
            background: #FFFFFF;
            border-radius: 0 0 4rem 4rem;
            padding-top: 1.5rem;
            padding-left: 2.5rem;
            padding-right: 2rem;
            padding-bottom: 1.5rem;
            width: 87%;

            span {
                font-size: 3rem;
                margin-right: 1.6rem;
                padding-top: 1rem;
            }
        }
        
        &__price-value {
            font-size: 3.6rem;
    
            sup {
                font-size: 2.6rem;
            }
        }
        
        &__like {
            width: 9.6rem;
            height: 9.6rem;
    
            border-radius: 2.2rem;
    
            margin-top: 1.3rem;
    
    
          
            svg {
                width: 4.4rem;
                height: 4.4rem;
            }
        }
    }
    




}
