.real-estate.page-real-estate {
    margin-bottom: 11.5rem;

    .real-estate {

        &__title {
            margin-bottom: 0;
        }

        &__top {
            display: flex;
            align-items: center;
            justify-content: space-between;
            margin-bottom: 6rem;
        }

        &__top-sorting {
            display: flex;
            align-items: center;
        }

        &__top-sorting-item {
            display: flex;
            align-items: center;
            @include text (1.7rem, 500, rgba(138, 145, 170, 1));

            &:not(:last-child) {
                margin-right: 3.7rem;
            }

            img {
                width: 1rem;
                height: 1.5rem;
                object-fit: contain;
                margin-left: 0.3rem;
                transition: 0.5s;
            }

            &.active {
                img {
                    transform: rotateX(180deg);
                }
            }
        }

        &__sorting-item-name {
            display: flex;
            align-items: center;
        }

        &__sorting-view {
            display: flex;
            align-items: center;

            button {

                width: 3rem;
                height: 3rem;

                display: flex;
                align-items: center;
                justify-content: center;

                &:not(:last-child) {
                    margin-right: 2rem;
                }

                svg {
                    width: 1.7rem;
                    height: 1.7rem;
                    fill: #828282;
                    transition: 0.5s;
                }

                &.active {
                    svg {
                        fill: #0095DA;
                    }
                }
            }
        }

        &___select-bottom {
            margin-bottom: 2.9rem;
        }

        &__number-wrap {
            display: flex;
            margin-bottom: 0.6rem;
        }

        &__number {
            @include text (2rem, 700, rgba(0, 0, 0, 1));
            position: relative;

            &:not(:last-child) {
                margin-right: 4.8rem;

                &::before {
                    content: "";
                    width: 0.1rem;
                    height: 2.5rem;
                    background: rgba(0, 0, 0, 1);

                    position: absolute;
                    top: 0;
                    right: -2.4rem;
                }
            }
        }

        &__content {
            flex-wrap: nowrap;
            justify-content: space-between;
        }

        &__left {
            height: 100%;
            display: none;

            &.active {
                display: block;
            }
        }

        &__boxes {
            display: flex;
            flex-wrap: wrap;
            width: 116.3rem;
            height: 100%;
            margin-bottom: 4rem;
        }

        &__box {
            width: 36.8rem;
            height: 47.6rem;

            &:not(:nth-child(3n+3)) {
                margin-right: 2.8rem;
            }

            &:not(:nth-child(15n)) {
                margin-bottom: 2.8rem;
            }
        }

        &__box-inner {
            height: 41.7rem;

            &.active {
                .real-estate__slider {
                    height: 16rem;
                }

                .real-estate__box-cart {
                    display: none;
                }
            }
        }

        &__box-top {
            padding: 1.3rem 1.3rem 2.5rem 1.3rem;
        }

        &__slider {
            height: 32.8rem;
            margin-bottom: 0;
            position: relative;
        }

        &__pagination {

            span {
                width: 0.7rem;
                height: 0.7rem;
            }

            &.swiper-pagination {
                bottom: 1.5rem;
            }
        }

        &__box-id {
            @include text (1rem, 500, rgba(255, 255, 255, 1));
            width: 7.7rem;
            height: 2.6rem;
            display: flex;
            align-items: center;
            justify-content: center;
            padding: 0.5rem;

            background: rgba(20, 20, 78, 0.21);
            border-radius: 1.2rem;

            position: absolute;
            top: 1.2rem;
            right: 1.3rem;
            z-index: 10;


            &.mobile {
                display: none;
            }
        }

        &__box-cart {
            width: 4.8rem;
            height: 4.8rem;
            border-radius: 50%;

            box-shadow: 0.4rem 0.4rem 5rem rgba(76, 70, 203, 0.1);
            background: #ffffff;

            display: flex;
            align-items: center;
            justify-content: center;

            img {
                width: 2.3rem;
                height: 1.6rem;
                object-fit: contain;
            }

            position: absolute;
            bottom: 2.5rem;
            right: 2.5rem;
            z-index: 10;
        }

        &__box-title {
            font-size: 1.5rem;
        }

        &__bottom-box-info {
            width: 83.5%;

            &.hover {
                padding-bottom: 1.8rem;
                margin-bottom: 1.8rem;
                width: 100%;
            }
        }

        &__sity-img {
            width: 1.5rem;
            height: 1.5rem;
        }

        &__sity-name {
            font-size: 1.2rem;
            font-weight: 500;
            color: rgba(43, 47, 54, 1);
        }

        &__box-price {
            font-size: 1.6rem;

            span {
                font-size: 1.2rem;
            }

            sup {
                font-size: 1.2rem;
                margin-bottom: 1rem;
            }
        }

        &__box-item {
            &:not(:last-child) {
                margin-bottom: 1rem;
            }
        }

        &__box-item-left {
            width: 50%;
        }

        &__corner {
            position: absolute;
            top: 0;
            right: 4.2rem;
        }

        &__like {
            width: 4.8rem;
            height: 4.8rem;
            display: flex;
            align-items: center;
            justify-content: center;

            background: #0199E4;
            box-shadow: 0.3rem 0.3rem 3.7rem rgba(76, 70, 203, 0.1);
            border-radius: 1.2rem;
            margin-top: 1rem;

            position: relative;

            svg {
                width: 2rem;
                height: 2rem;
            }

            &.active {
                background: linear-gradient(0deg, #E82E3D, #E82E3D), linear-gradient(329.72deg, #DE1117 6.36%, #F13E5E 115.33%), linear-gradient(321.12deg, #DE1117 -13.86%, #F13E5E 74.59%), linear-gradient(0deg, #D91F40, #D91F40), linear-gradient(119.1deg, #4341CC 42.46%, #FF9CB4 149.72%), #6C42E2;
            }
        }

        &__pagination-wrap {
            display: flex;
            align-items: center;
            justify-content: space-between;
        }

        &__pagination-numbers {
            display: flex;
            align-items: center;
            font-size: 2rem;
            font-weight: 400;
            color: #BDC1CF;
        }

        &__pagination-num {
            cursor: pointer;
            margin-right: 1.5rem;
            transition: 0.01s;

            &.active {
                @include text (4rem, 600, #2B2F36);
            }

            &:first-child {
                margin-right: 11.6rem;
                position: relative;

                &::before {
                    content: "";
                    width: 6rem;
                    height: 0.2rem;
                    background-color: #D4DAEC;

                    position: absolute;

                    right: -9rem;
                    top: 50%;
                    transform: translateY(-50%);
                }
            }
        }

        &__pagination-bullets {
            display: flex;
            align-items: center;

        }

        &__pagination-bullet {
            width: 1.2rem;
            height: 1.2rem;
            border-radius: 50%;
            background: rgba(210, 216, 236, 1);
            transition: 0.2s;
            cursor: pointer;

            &:not(:last-child) {
                margin-right: 1.6rem;
            }

            &.active {
                background: rgba(43, 47, 54, 1);
            }

        }

        .active {}

        &__right-block {
            width: 36.2rem;

            .articles__right-item {

                &:first-child {
                    .articles__item-title {
                        color: #ffffff;
                        position: relative;
                    }

                    .articles__item-subtitle {
                        color: #9FAAB4;
                        position: relative;
                    }

                    .btn {
                        position: relative;

                        span {
                            color: #ffffff;
                        }
                    }
                }
            }
        }

        &__boxes-big {
            width: 116.2rem;
            margin-bottom: 6rem;
        }

        &__box-big {
            border-radius: 4rem;
            position: relative;

            &:not(:last-child) {
                margin-bottom: 2.5rem;
            }
        }

        &__box-big-btn {
            position: absolute;
            top: 0;
            right: 0;

            .real-estate__like {
                margin-top: 0;
                z-index: 1;
            }

            .corner {
                position: absolute;
                left: -0.8rem;
                bottom: -1.8rem;
                transform: rotate(271deg);

                &::before {
                    content: "";
                    display: block;
                    padding-bottom: 100%;
                    background-color: #fafaff;
                }
            }
        }

        &__big-inner {
            display: flex;
        }

        &__big-left {
            border-radius: 2rem 0 0 2rem;
            background: #ffffff;
            padding: 2rem 0 2rem 2rem;
            box-shadow: 0.7rem 1.5rem 7.4rem rgba(40, 44, 78, 0.1);
        }

        &__big-right {
            position: relative;
            width: 100%;
        }

        &__big-slider {
            width: 33.2rem;
            height: 32.8rem;
            margin-right: 4.5rem;
            background: #FFFFFF;
            position: relative;
        }

        &__big-slide {
            border-radius: 1.1rem;

            img {
                height: 100%;
                object-fit: cover;
                border-radius: inherit;
            }
        }

        &__pagination-big {

            span {
                width: 0.7rem;
                height: 0.7rem;
                background: #ffffff;
            }

            &.swiper-pagination {
                bottom: 1.5rem;
                left: 50%;
                transform: translateX(-50%);
            }
        }

        &__big-box-cart {
            width: 4.8rem;
            height: 4.8rem;
            border-radius: 50%;
            background: #ffffff;

            display: flex;
            align-items: center;
            justify-content: center;

            position: absolute;
            bottom: 2.8rem;
            right: 2.8rem;
            z-index: 10;

            img {
                width: 1.6rem;
                height: 1.6rem;
                object-fit: contain;
            }
        }

        &__big-box-info {
            height: 31rem;
            background: #ffffff;
            padding-bottom: 2rem;
            padding-right: 3rem;
            margin-top: 6rem;
            padding-top: 4.5rem;
            border-radius: 0 2rem 2rem 0;
            box-shadow: 1.7rem 2.5rem 3.4rem rgb(40 44 78 / 10%);
        }

        &__big-box-title {
            padding-top: 2rem;
            padding-right: 10rem;
            padding-bottom: 4rem;
            background: #ffffff;
            border-radius: 0 2rem 0 0;
            @include text (2.5rem, 700, rgba(43, 47, 54, 1));
            line-height: 0.9;
            width: 92%;
            position: absolute;
            top: 0;
            left: 0;
        }

        &__big-main-info {
            display: flex;
            justify-content: space-between;
            margin-bottom: 2.65rem;
        }

        &__big-description-block {
            display: grid;
            grid-template-columns: auto auto auto;
            grid-template-rows: 1fr 1fr;
            gap: 1.5rem;

            width: 42rem;
            padding-bottom: 1.5rem;
            border-bottom: 0.1rem solid rgba(221, 226, 244, 1);
        }

        &__big-description-item {
            display: flex;
            align-items: center;
            @include text (1.6rem, 500, rgba(43, 47, 54, 1));

            img {
                width: 2rem;
                height: 2rem;
                object-fit: contain;
                margin-right: 0.8rem;
            }
        }

        &__big-price-block {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: end;
        }

        &__big-id {
            width: max-content;
            height: 2.56rem;
            background: rgba(20, 20, 78, 0.21);
            border-radius: 1.2rem;
            padding: 0.7rem;

            display: flex;
            align-items: center;
            justify-content: center;

            @include text (1.3rem, 500, rgba(255, 255, 255, 1));
        }

        &__big-price {
            width: max-content;
            height: 3.8rem;
            background: #F9F9FE;
            border-radius: 1.2rem;
            padding: 1rem;

            display: flex;
            align-items: center;
            justify-content: center;

            @include text (2rem, 600, rgba(43, 47, 54, 1));

            span {
                @include text (1.4rem, 500, rgba(153, 162, 181, 1));
            }

            sup {
                @include text (1.2rem, 400, rgba(43, 47, 54, 1));
            }
        }

        &__big-additional-info {
            display: flex;
            justify-content: space-between;
            margin-bottom: 1.5rem;
            margin-left: 1rem;
        }

        &__big-rooms {
            display: flex;
            flex-direction: column;
            width: 42rem;
        }

        &__big-room-item {
            display: flex;
            align-items: center;
            justify-content: space-between;

            &:not(:last-child) {
                margin-bottom: 2rem;
            }
        }

        &__big-room {
            display: flex;
            align-items: center;
            @include text (1.5rem, 500, rgba(43, 47, 54, 1));
        }

        &__big-room-key {
            font-weight: 700;
            margin-right: 3rem;
        }

        &__big-room-price {
            @include text (1.6rem, 600, rgba(43, 47, 54, 1));

            span {
                font-weight: 400;
            }
        }

        &__big-separately-info {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
        }

        &__big-separately-item {
            height: 4.2rem;
            width: max-content;
            background: #EFF0F8;
            box-shadow: inset 0px 0px 0.4rem rgba(0, 0, 0, 0.25);
            border-radius: 2rem;
            padding: 1rem;

            display: flex;
            align-items: center;
            justify-content: center;

            @include text (1.4rem, 500, rgba(43, 47, 54, 1));

            &:not(:last-child) {
                margin-bottom: 1rem;
            }
        }

        &__big-date {
            @include text (1.6rem, 400, rgba(138, 145, 170, 1));
        }
    }
}

.articles.page-real-estate {
    margin-bottom: 28rem;

    .articles {

        &__title {
            margin-bottom: 6.5rem;
        }
    }
}

.support.page-real-estate {
    margin-bottom: 17rem;
}

.faq.page-real-estate {
    margin-bottom: 4.5rem;
}