.articles.page-news {


    .articles {


        &__title {
            margin-bottom: 6rem;

        }


        &__photo-block {
            width: 100%;
            height: 87.78rem;
            border-radius: 3rem;
            padding: 3rem 5rem 5.5rem 5rem;
            margin-bottom: 17rem;
            display: flex;
            flex-direction: column;
            justify-content: space-between;

            position: relative;

            img {
                position: absolute;
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
                border-radius: inherit;
                z-index: -1;
                height: 100%;
                object-fit: cover;
            }

            span {
                @include text (2.1rem, 600, #FFFFFF);
                width: 19.6rem;
                height: 6.4rem;
                background: #E82E3D;

                display: flex;
                align-items: center;
                justify-content: center;

                border-radius: 3rem 0 3rem 0;

                position: absolute;
                top: 10rem;
                right: -5rem;
            }
        }

        &__date {
            align-self: flex-end;
            @include text (2rem, 700, #FFFFFF);
        }

        &__text-wrap {
            width: 88rem;

        }

        &__text-title {
            @include text (3.7rem, 700, #FFFFFF);
            margin-bottom: 2.5rem;
            line-height: 1.268;


        }

        &__text {
            @include text (2rem, 700, #FFFFFF);
            line-height: 1.268;
        }

        &__inner {}

        &__text-block {}

        &__box {
            display: flex;
            justify-content: flex-end;
            position: relative;
            width: 100%;


            &:not(:last-child) {
                margin-bottom: 4rem;
            }

        }

        &__box-photo {
            width: 72.2rem;
            height: 100%;
            border-radius: 4rem;
            position: absolute;
            top: 0;
            left: 0;
            bottom: 0;
            // z-index: -1;


            .swiper__arrows {
                position: absolute;
                top: 50%;
                left: 3.8rem;
                transform: translateY(-50%);
                z-index: 2;
                width: 61rem;

                .swiper__arrow {
                    width: 7rem;
                    height: 7rem;
                }

                .swiper-button-disabled {
                    width: 6rem;
                    height: 6rem;
                }
            }
        }

        &__box-pagination {
            position: absolute;
            bottom: 2rem;
            z-index: 3;
            width: 62rem;
            margin: 0 auto;
            text-align: center;

            span {
                width: 1rem;
                height: 1rem;
                margin-right: 0.7rem;
                background: #ffffff;
            }
        }

        &__btn-video {
            width: 8.8rem;
            height: 8.8rem;
            background: linear-gradient(0deg, #E72535, #E72535), #DE1117;
            box-shadow: 1rem 2rem 5rem rgb(243 83 83 / 25%);
            border-radius: 50%;
            color: #FFFFFF;
            position: absolute;
            top: 50%;
            left: 40%;
            transform: translateY(-50%);
            z-index: 5;

            &::before {
                content: "";
                width: 0;
                height: 0;
                border-style: solid;
                border-width: 1.2rem 1.2rem 1.2rem 1.3rem;
                border-color: transparent transparent transparent #ffffff;
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-15%, -50%);
            }
        }

        &__box-photo-slide {
            position: relative;
            height: 100%;
            width: 100%;

            img {
                height: 100%;
                object-fit: cover;
                border-radius: inherit;
            }
        }

        &__box-text-part {
            width: 49.6rem;
            background: #FFFFFF;
            box-shadow: 1rem 2rem 10rem rgba(40, 44, 78, 0.1);
            border-radius: 4rem;
            padding: 3.1rem;

            position: relative;
            z-index: 3;

        }

        &__box-date-wrap {
            @include text (1.8rem, 400, #8A91AA);
            width: 83%;
            margin-bottom: 3.2rem;

            display: flex;
            align-items: center;
            justify-content: space-between;

        }

        &__box-place {}

        &__box-date {}

        &__box-title {
            @include text (2rem, 700, #2B2F36);
            width: 80%;
            margin-bottom: 4.5rem;

        }

        &__box-subtitle {
            @include text (1.8rem, 400, #2B2F36);
            margin-bottom: 2.6rem;
            line-height: 1.268;


        }

        &__box-btn {
            width: 23rem;
            margin-left: auto;

            span {
                color: #2B2F36;
            }

        }


        &__right-item:last-child {
            padding: 4.3rem 2rem 10rem 3rem; 
        }

        &__right-item:not(:last-child) {
            margin-bottom: 7.5rem;
        }
    }
}
